chatbotTelegramRestaurante.json
{
  "name": "chatbotTelegramRestaurante",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        64
      ],
      "id": "e5752dcd-a625-48ef-818b-cd69eae46124",
      "name": "Telegram Trigger",
      "webhookId": "1026be42-cb67-4038-948b-93b450cda22e",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst hora = new Date(new Date().toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" })).getHours();\n\nreturn [{ json: { hora } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -32
      ],
      "id": "f215360d-f8ee-4ffb-ad7a-871387089784",
      "name": "ColetarHoras"
    },
    {
      "parameters": {
        "content": "## INICIO\n\nMessagem de saudação e primeiro menu de opções com:\n1- Categorias Árabes\n2- Fazer Pedido\n3- Acompanhar Entrega\n4- Sobre a Unidade\n5- Reserva uma Mese\n6- Suporte e Ajuda",
        "height": 464,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        -256
      ],
      "id": "a62bf3df-2a00-40c7-bff4-c7260b4b5124",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## CALLBACK DA SELEÇÃO INICIAL\nVai separar o fluxo conforme a decisão inicial do usuário em relações as opções do menu principal. Há uma opção de voltar para o início em ultímo.\n**Trabalha com os seguintes callbacks:**\n--categorias\n--pedido\n--acompanhar\n--unidade\n--mesa\n--suporte\n--voltarInicio",
        "height": 512,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        16,
        256
      ],
      "id": "9d2ce96f-87db-47dc-a261-647864876158",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "={{\n`🥟 Excelente escolha! Nossos salgados assados são preparados seguindo receitas tradicionais da culinária árabe, combinando massa leve, recheios bem temperados e muito sabor em cada detalhe.\n\n🔥 Confira algumas das opções disponíveis:\n\n• 🥙 Esfihas Assadas — Massa macia e dourada com recheios tradicionais preparados com ingredientes frescos e selecionados.\n• 🧆 Quibes Assados — Receita clássica com trigo especial, carne temperada e textura crocante por fora e macia por dentro.\n\n🍽️ Gostaria de realizar um pedido agora ou deseja conhecer outras opções do nosso cardápio?`\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "SIM, desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "NÃO, não desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "voltarCardapio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        1456
      ],
      "id": "c186667a-6301-418d-8718-ff6fcaa493c1",
      "name": "Opcoes Salgados",
      "webhookId": "faabc4f8-61fe-4e9e-8657-90c5705cd682",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "={{\n`🥙 Perfeita escolha! Nossas entradas são preparadas com sabores tradicionais da culinária árabe, trazendo combinações leves, frescas e marcantes para começar sua experiência da melhor forma.\n\n✨ Confira algumas das nossas opções disponíveis:\n\n• 🧆 Homus — Pasta cremosa de grão-de-bico temperada com tahine, alho e especiarias árabes.\n• 🥩 Quibe Cru — Receita tradicional preparada com carne selecionada, trigo especial e temperos frescos.\n• 🥗 Tabule — Salada refrescante com trigo para quibe, tomate, cebola, salsa e hortelã.\n\n🍽️ Gostaria de pedir alguma entrada agora ou deseja conhecer outras opções do nosso cardápio?`\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "SIM, desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "NÃO, não desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "voltarCardapio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        1296
      ],
      "id": "18bf18ff-2039-4ddb-b9e2-165d99e85811",
      "name": "Opcoes Entrada",
      "webhookId": "faabc4f8-61fe-4e9e-8657-90c5705cd682",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "={{\n`🍽️ Ótima escolha! Nossos pratos principais trazem sabores autênticos da culinária árabe, preparados com ingredientes selecionados, temperos tradicionais e muito cuidado em cada receita.\n\n✨ Confira algumas das especialidades disponíveis:\n\n• 🥩 Kafta — Espetinhos de carne temperada com ervas e especiarias árabes, grelhados no ponto ideal.\n• 🌿 Charuto — Folhas recheadas com uma combinação saborosa de arroz e temperos tradicionais.\n• 🍖 Cordeiro — Prato preparado com carne macia e suculenta, acompanhada pelos sabores marcantes da culinária árabe.\n\n🍴 Gostaria de realizar um pedido agora ou deseja conhecer outras opções do nosso cardápio?`\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "SIM, desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "NÃO, não desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "voltarCardapio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        992,
        1616
      ],
      "id": "20c40cb9-2aff-458d-b730-18545c5f86da",
      "name": "Opcoes Pratos",
      "webhookId": "faabc4f8-61fe-4e9e-8657-90c5705cd682",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "={{\n`É preciso colocar algo`\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "SIM, desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "selecionarItens"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "NÃO, não desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "voltarCardapio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        1872
      ],
      "id": "aeb5bc33-0e94-4141-bf93-c28dd540a6a2",
      "name": "Opcoes Promocoes",
      "webhookId": "faabc4f8-61fe-4e9e-8657-90c5705cd682",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## CALLBACK CATEGORIAS ÁRABES\nVai separar o fluxo conforme o interesse do usuário entre as opões Entradas, Salgados, Pratos, Promoções ou Voltar para o inicio. \n**Trabalha com o os seguintes callbacks:**\n--cardapioEntrada\n--cardapioSalgados\n--cardapioPratos\n--cardapioPromocoes\n--voltarCardapio",
        "height": 544,
        "width": 624,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        1216
      ],
      "id": "c240bd62-2904-4f21-86e1-71572f8ed671",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## OPÇÕES DE COMIDAS\nSe o cliente aceitar fazer um pedido vai voltar pra a primeira parte do fluxo e redirecionar para a parte Pedido.\n**Trabalha com os callbacks:**\n--pedido\n--voltarCardapio",
        "height": 944,
        "width": 608,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        864,
        1120
      ],
      "id": "607c9b5a-64d0-46bf-9999-c5198d7f7b14",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## FALTANDO\n**PARTE FALTANDO. NECESSÁRIO FINALIZAR**)",
        "height": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        1760
      ],
      "id": "4f5052ac-46d2-49b3-a02f-c215257cf3da",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "={{ \"Qual das Opções Gostaria de Conhecer Melhor?\\n\\n\" }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Entrada",
                    "additionalFields": {
                      "callback_data": "cardapioEntrada"
                    }
                  },
                  {
                    "text": "Salgados",
                    "additionalFields": {
                      "callback_data": "cardapioSalgados"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Pratos",
                    "additionalFields": {
                      "callback_data": "cardapioPratos"
                    }
                  },
                  {
                    "text": "Promoções Especiais",
                    "additionalFields": {
                      "callback_data": "cardapioPromocoes"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Voltar",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        176
      ],
      "id": "d9806340-c1da-4fd5-9738-cef0e45d4e84",
      "name": "Menu Categorias Mensagem",
      "webhookId": "39527d29-ffc9-44df-a6b7-feff5417418a",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ \n$('Telegram Trigger').first().json.message?.chat?.id\n??\n$('Telegram Trigger').first().json.callback_query?.message?.chat?.id\n}}",
        "text": "={{ (() => {   if ($json.hora >= 7 && $json.hora < 13)     return \"☀️ Bom dia!\\n\\n🍽️ Bem-vindo ao Restaurante Árabe Maṭʿam!\\n\\nEscolha uma opção abaixo:\";    if ($json.hora >= 13 && $json.hora < 18)     return \"🌤️ Boa tarde!\\n\\n🍽️ Bem-vindo ao Restaurante Árabe Maṭʿam!\\n\\nEscolha uma opção abaixo:\";    if ($json.hora >= 18 && $json.hora < 23)     return \"🌙 Boa noite!\\n\\n🍽️ Bem-vindo ao Restaurante Árabe Maṭʿam!\\n\\nEscolha uma opção abaixo:\";    return \"🍽️ Bem-vindo ao Restaurante Árabe Maṭʿam!\\n\\nEscolha uma opção abaixo:\"; })() }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🥙 Categorias Árabes",
                    "additionalFields": {
                      "callback_data": "categorias",
                      "switch_inline_query": "teste"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🛒 Fazer Pedido",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🚚 Acompanhar Entrega",
                    "additionalFields": {
                      "callback_data": "acompanhar"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "📍 Sobre a Unidade",
                    "additionalFields": {
                      "callback_data": "unidade"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🍽️ Reservar uma Mesa",
                    "additionalFields": {
                      "callback_data": "mesa"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🆘 Suporte e Ajuda",
                    "additionalFields": {
                      "callback_data": "suporte"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        368,
        -32
      ],
      "id": "60a9cbc6-bd3c-4bf6-a081-65c5e075e36c",
      "name": "Menu Principal Mensagem",
      "webhookId": "c32d41a1-dcf0-495b-b7cb-56b8f1224c93",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst clientId = $('Telegram Trigger').first().json.message.chat.id;\n\nif (!bancoDados.usuario) {\n  bancoDados.usuario = {};\n}\n\nbancoDados.usuario[clientId] = {\n  endereco: 'Rua X',\n  numeroPedidos: 0,\n  pedidos: [],\n  pagamento: 'nenhum'\n  //**Para o pagamento usar cartaoOnline; cartaoPresencial; dinheiro; pix.\n};\n\nreturn bancoDados;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -32
      ],
      "id": "af3db792-1c84-4397-8693-ca55fc579913",
      "name": "Contador Global"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "message": "🥙 Escolha os itens desejados para o seu pedido entrando no formulário através do botão abaixo:",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Entrada",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Homus"
                  },
                  {
                    "option": "Quibe Cru"
                  },
                  {
                    "option": "Tabule"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Gostaria de quantas Esfihas?",
              "fieldType": "number",
              "placeholder": "0",
              "defaultValue": "0"
            },
            {
              "fieldLabel": "Gostaria de quantos Quibes Assados?",
              "fieldType": "number",
              "placeholder": "0",
              "defaultValue": "0"
            },
            {
              "fieldLabel": "Pratos (selecione ao menos 1)",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Kafta"
                  },
                  {
                    "option": "Charuto"
                  },
                  {
                    "option": "Cordeiro"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Gostaria de Talheres de Plástico ?",
              "fieldType": "radio",
              "defaultValue": "Não",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Sim"
                  },
                  {
                    "option": "Não"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "messageButtonLabel": "Selecionar Itens",
          "responseFormTitle": "Itens de Pedido",
          "responseFormDescription": "Selecione os itens que deseja pedir ",
          "responseFormButtonLabel": "Enviar",
          "responseFormCustomCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #262626;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #F5F5F5;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        64
      ],
      "id": "8df75da5-3fd2-40a1-b049-2ffd08a8b3b6",
      "name": "Formulario Pedido",
      "webhookId": "497b0a6f-b4be-473e-9e52-da3f684a56cc",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\n\nconst clientId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\nconst numeroPedidos = bancoDados.usuario[clientId].numeroPedidos;\n\nbancoDados.usuario[clientId].pedidos[numeroPedidos]=$input.first().json.data;\n\nbancoDados.usuario[clientId].numeroPedidos++;\n\nreturn bancoDados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        64
      ],
      "id": "bb14f894-ceec-47ed-be1c-1e64b37a2c52",
      "name": "Armazenar Globalmente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a2c625e6-c547-45c5-88d4-02fda73aa9fe",
              "leftValue": "={{ $('Telegram Trigger').item.json.message }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -192,
        64
      ],
      "id": "9495461c-cacc-43e8-9cc7-969ab933fce0",
      "name": "Eh Mensagem"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "categorias",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8e2345f5-64f4-4250-96a4-1ade5ac3603f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Categorias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0a4ce8fb-5e78-4296-a359-0df631d9e051",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "pedido",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pedido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aba72b2f-b2c5-49bc-9ba5-68cbb777de0a",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "acompanhar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Acompanhar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cf69c64c-d39a-4183-8dff-4223e020b6c7",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "unidade",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unidade"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8c1e7eb7-45cd-4026-a86c-6fe87b5297ba",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "mesa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mesa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cab2aef2-3b07-4bfb-9db0-b11109aa6306",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "suporte",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Suporte"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cc6c2274-9e8c-4f9e-b7f5-7cb778ce875d",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "voltarInicio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voltar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        224,
        432
      ],
      "id": "5e7e6703-a197-44ba-97f9-4f60ae64f0cc",
      "name": "Switch Inicial"
    },
    {
      "parameters": {
        "content": "## MENU CATEGORIAS ÁRABES\nVai apresentar para o cliente a opção de saber mais sobre algumas das opções a seguir: Entradas, Salgados, Pratos, Promoções ou Voltar para o inicio. \n**Trabalha com o os seguintes callbacks:**\n--cardapioEntrada\n--cardapioSalgados\n--cardapioPratos\n--cardapioPromocoes\n--voltarInicio",
        "height": 416,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -64
      ],
      "id": "ddb1235f-4913-4712-b9d9-e75119c4f041",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## FALTANDO\nNecessário fazer um node code para verificar os dados do formulário antes de registrar",
        "height": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        -64
      ],
      "id": "00212b01-2925-4812-b9f0-6b97fb76bc6d",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "Desejaria Algo mais ?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Sim",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  },
                  {
                    "text": "Não",
                    "additionalFields": {
                      "callback_data": "naoAlgoMais"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1728,
        64
      ],
      "id": "14f6f95d-1e34-402f-b8b2-93be416af2c2",
      "name": "Algo Mais",
      "webhookId": "85a34e18-a6b1-4451-a690-ff31073b2112",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## MENU PEDIDOS\nVai apresentar um link para um formulário para o usuário fazer seu pedido e então vai registrar nas variáveis globais. Depois vai perguntar se ele deseja algo mais, caso sim ele será redirecionado para um novo pedido, caso não ele irá para a confirmação de endereço.\n**Trabalha com os seguintes callbacks:**\n--pedido\n--naoAlgoMais",
        "height": 576,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        -224
      ],
      "id": "c4491bee-44e9-4b01-9232-fd62d0c106ec",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "cardapioEntrada",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "26477957-43fb-461c-9114-28055d9bf34d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Entrada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fdb1cb3b-ac35-403f-a153-9b185e68605e",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "cardapioSalgados",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Salgados"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9bff533f-fb9d-4018-aa7d-eb3559febd8d",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "cardapioPratos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pratos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4e3fc231-4f5c-450d-a197-d595e71f13d7",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "cardapioPromocoes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Promoções"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9a7266c8-a6d9-4f6b-b9ab-9528d86d8c62",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "voltarCardapio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voltar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        496,
        1408
      ],
      "id": "835270d5-edab-43b9-b029-07b05d1efcec",
      "name": "Switch Cardapio"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "naoAlgoMais",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "574a180f-9a9a-42c3-b2df-df3a0756a596"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Endereço"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "60bcc6f4-6938-40b6-a63b-d785de7f47f5",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "pagaRetirada",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Retirada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e70f4bfd-d0f8-43ab-85f4-3ae56b9c6ce1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "pagaOnline",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Online"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "77459de9-844e-4761-b970-c6c7358a5f66",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "cartaoPresencial",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cartao Fisico"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "60f8c213-6455-4a6d-ab22-9f1b2d9fc243",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "dinheiro",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Dinheiro"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        736,
        2336
      ],
      "id": "802b0619-c55a-40ba-b8d5-57fd48332046",
      "name": "Switch Pagamento"
    },
    {
      "parameters": {
        "content": "## CALLBACK PEDIDOS\nVai separar o fluxo conforme a necessidade de Informar Endereço, Pagar Online, Confirmar Pedido com PagOnline, Perguntar a forma de pagamento física com PagRetirada\n**Trabalha com os seguintes callbacks:**\n--naoAlgoMais\n--pagaOnline\n--pagaRetirada\n--cartaoPresencial\n--dinheiro",
        "height": 576,
        "width": 608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        2112
      ],
      "id": "03940eb8-b98a-4155-8fe2-ca273d95dea0",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "message": "Por favor, informe seu endereço de entrega.",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Rua",
              "placeholder": "ex: Rua Princesa Leopoldina",
              "requiredField": true
            },
            {
              "fieldLabel": "Número",
              "fieldType": "number",
              "placeholder": "ex: 455",
              "requiredField": true
            },
            {
              "fieldLabel": "Complemento",
              "placeholder": "ex: Apto 32"
            },
            {
              "fieldLabel": "CEP",
              "placeholder": "ex: 03498001",
              "requiredField": true
            },
            {
              "fieldLabel": "Seu Nome",
              "placeholder": "ex: Carlos Adalberto",
              "requiredField": true
            }
          ]
        },
        "options": {
          "messageButtonLabel": "Informar Endereço",
          "responseFormTitle": "Endereço",
          "responseFormDescription": "Diga as informações do endereço de entrega, com rua, número, complemente, CEP e nome do recebedor.",
          "responseFormButtonLabel": "Enviar",
          "responseFormCustomCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #262626;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #F5F5F5;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        2240
      ],
      "id": "89acc45e-68c8-4353-995c-04ac273cebca",
      "name": "Pedir Endereço",
      "webhookId": "85a34e18-a6b1-4451-a690-ff31073b2112",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst clientId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\nbancoDados.usuario[clientId].endereco = $input.first().json.data;\n\nreturn bancoDados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        2240
      ],
      "id": "7fa66a1f-4ac3-47dd-a361-109a09d727d0",
      "name": "Salvar Endereço"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "Deseja efetuar o pagamento online ou na retirada do pedido ?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Online",
                    "additionalFields": {
                      "callback_data": "pagaOnline"
                    }
                  },
                  {
                    "text": "Na retirada",
                    "additionalFields": {
                      "callback_data": "pagaRetirada"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1568,
        2240
      ],
      "id": "0a9bc2bc-d01e-4031-a0dc-b8cb24f3969e",
      "name": "Deseja Pagar",
      "webhookId": "85a34e18-a6b1-4451-a690-ff31073b2112",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\n\nfor (const key of Object.keys(data)) {\n  delete data[key];\n}\n\nreturn [{ json: {} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -272
      ],
      "id": "565b82dc-b1f4-4d87-9834-858dae3f4454",
      "name": "LIMPAR"
    },
    {
      "parameters": {
        "content": "## SALVAR ENDEREÇO\nPedi para que o usuário preencha um formulário contendo dados para a entrega e salva com um Json. Depois pergunta se o pagamento será Online ou na Retirada.",
        "height": 288,
        "width": 592,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        2112
      ],
      "id": "2f0c5d9b-d923-4990-8c13-59a6e110a8d1",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Isso está servindo para testes\né uma forma de limpar os dados salvos localmente",
        "height": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -640,
        -400
      ],
      "id": "94da7b09-4858-471d-b94d-f2965a9e2f6b",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# PARA TESTAR DE UM PUBLISH, POIS A FORMA COMO OS DADOS DO USUÁRIO ESTÃO SENDO SALVAS É PERDIDA ENTRE AS EXECUÇÕES DO WORKFLOW EM TESTE!!!\nALÉM DISSO, EVITE RUN NODE, POIS TBM AFETA A FORMA DE SALVAMENTO E PORTANTO VOCÊ VAI EXPERENCIAR ERROS DEVIDO AO FUNCIONAMENTO DO N8N EM AMBIENTES DE TESTE",
        "height": 272,
        "width": 928,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        576
      ],
      "id": "afeddd00-e12c-45e9-a908-3a2529bbff3a",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "De qual forma irá pagar ?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Cartão/Pix",
                    "additionalFields": {
                      "callback_data": "cartaoPresencial"
                    }
                  },
                  {
                    "text": "Dinheiro",
                    "additionalFields": {
                      "callback_data": "dinheiro"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        2480
      ],
      "id": "94907221-5f7b-4950-89cf-862a9d26172f",
      "name": "Forma Pagamento Presencial",
      "webhookId": "85a34e18-a6b1-4451-a690-ff31073b2112",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Forma Pagamento Retirada\nVai dar a opção do usuário pagar usando dinheiro ou cartão/pix presencialmente",
        "height": 256,
        "width": 592,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1184,
        2400
      ],
      "id": "929f3782-23d9-4b13-85ab-94d55f6d1972",
      "name": "Sticky Note12"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Eh Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ColetarHoras": {
      "main": [
        [
          {
            "node": "Menu Principal Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Menu Principal Mensagem": {
      "main": [
        []
      ]
    },
    "Formulario Pedido": {
      "main": [
        [
          {
            "node": "Armazenar Globalmente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armazenar Globalmente": {
      "main": [
        [
          {
            "node": "Algo Mais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eh Mensagem": {
      "main": [
        [
          {
            "node": "LIMPAR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Inicial": {
      "main": [
        [
          {
            "node": "Menu Categorias Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formulario Pedido",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        [
          {
            "node": "Menu Principal Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Cardapio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contador Global": {
      "main": [
        [
          {
            "node": "ColetarHoras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Algo Mais": {
      "main": [
        []
      ]
    },
    "Switch Cardapio": {
      "main": [
        [
          {
            "node": "Opcoes Entrada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opcoes Salgados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opcoes Pratos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opcoes Promocoes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu Categorias Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Pagamento": {
      "main": [
        [
          {
            "node": "Pedir Endereço",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Forma Pagamento Presencial",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        []
      ]
    },
    "Pedir Endereço": {
      "main": [
        [
          {
            "node": "Salvar Endereço",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Endereço": {
      "main": [
        [
          {
            "node": "Deseja Pagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LIMPAR": {
      "main": [
        [
          {
            "node": "Contador Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forma Pagamento Presencial": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "463b95ce-f0a0-4a48-99db-8a89ec9a0b55",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8820a1bab815e9b7dedca81d44851aff32376584db9b661da77de9b0b2fc6092"
  },
  "id": "IZueyy6sP8y5PuE0",
  "tags": []
}