chatbotTelegramRestaurante.json
{
  "name": "chatbotTelegramRestaurante",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        256,
        464
      ],
      "id": "1583c441-ac12-4cc3-a629-b57d3aad161f",
      "name": "Telegram Trigger",
      "webhookId": "1026be42-cb67-4038-948b-93b450cda22e",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst hora = new Date(new Date().toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" })).getHours();\n\nreturn [{ json: { hora } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        368
      ],
      "id": "36cf92ec-f1df-48dc-8431-439bbb9f5c72",
      "name": "ColetarHoras"
    },
    {
      "parameters": {
        "content": "## INICIO\n\nMessagem de saudação e primeiro menu de opções com:\n1- Categorias Árabes\n2- Fazer Pedido\n3- Acompanhar Entrega\n4- Sobre a Unidade\n5- Reserva uma Mese\n6- Suporte e Ajuda",
        "height": 464,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        144
      ],
      "id": "5c5f788f-0feb-484d-a2ea-b313b460c917",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## CALLBACK DA SELEÇÃO INICIAL\nVai separar o fluxo conforme a decisão inicial do usuário em relações as opções do menu principal. Há uma opção de voltar para o início em ultímo.\n**Trabalha com os seguintes callbacks:**\n--categorias\n--pedido\n--acompanhar\n--unidade\n--mesa\n--suporte\n--voltarInicio",
        "height": 512,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        656
      ],
      "id": "bb5bb17e-9278-4b9a-bcd9-61a998926ac4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "={{\n`🥟 Excelente escolha! Nossos salgados assados são preparados seguindo receitas tradicionais da culinária árabe, combinando massa leve, recheios bem temperados e muito sabor em cada detalhe.\n\n🔥 Confira algumas das opções disponíveis:\n\n• 🥙 Esfihas Assadas — Massa macia e dourada com recheios tradicionais preparados com ingredientes frescos e selecionados.\n• 🧆 Quibes Assados — Receita clássica com trigo especial, carne temperada e textura crocante por fora e macia por dentro.\n\n🍽️ Gostaria de realizar um pedido agora ou deseja conhecer outras opções do nosso cardápio?`\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "SIM, desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "NÃO, não desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "voltarCardapio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1632,
        1856
      ],
      "id": "4ff202d4-59c9-4948-9545-e4ceb56680b0",
      "name": "Opcoes Salgados",
      "webhookId": "faabc4f8-61fe-4e9e-8657-90c5705cd682",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "={{\n`🥙 Perfeita escolha! Nossas entradas são preparadas com sabores tradicionais da culinária árabe, trazendo combinações leves, frescas e marcantes para começar sua experiência da melhor forma.\n\n✨ Confira algumas das nossas opções disponíveis:\n\n• 🧆 Homus — Pasta cremosa de grão-de-bico temperada com tahine, alho e especiarias árabes.\n• 🥩 Quibe Cru — Receita tradicional preparada com carne selecionada, trigo especial e temperos frescos.\n• 🥗 Tabule — Salada refrescante com trigo para quibe, tomate, cebola, salsa e hortelã.\n\n🍽️ Gostaria de pedir alguma entrada agora ou deseja conhecer outras opções do nosso cardápio?`\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "SIM, desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "NÃO, não desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "voltarCardapio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1632,
        1696
      ],
      "id": "535309f5-ae3d-46ba-8865-83d6cc0f7e56",
      "name": "Opcoes Entrada",
      "webhookId": "faabc4f8-61fe-4e9e-8657-90c5705cd682",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "={{\n`🍽️ Ótima escolha! Nossos pratos principais trazem sabores autênticos da culinária árabe, preparados com ingredientes selecionados, temperos tradicionais e muito cuidado em cada receita.\n\n✨ Confira algumas das especialidades disponíveis:\n\n• 🥩 Kafta — Espetinhos de carne temperada com ervas e especiarias árabes, grelhados no ponto ideal.\n• 🌿 Charuto — Folhas recheadas com uma combinação saborosa de arroz e temperos tradicionais.\n• 🍖 Cordeiro — Prato preparado com carne macia e suculenta, acompanhada pelos sabores marcantes da culinária árabe.\n\n🍴 Gostaria de realizar um pedido agora ou deseja conhecer outras opções do nosso cardápio?`\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "SIM, desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "NÃO, não desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "voltarCardapio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1632,
        2016
      ],
      "id": "f6d29b3b-7fd6-471e-ab70-b5a7a44fc4c6",
      "name": "Opcoes Pratos",
      "webhookId": "faabc4f8-61fe-4e9e-8657-90c5705cd682",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "={{\n`É preciso colocar algo`\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "SIM, desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "selecionarItens"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "NÃO, não desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "voltarCardapio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        2272
      ],
      "id": "4c3e384c-5601-43be-ab1b-224785b3fb2e",
      "name": "Opcoes Promocoes",
      "webhookId": "faabc4f8-61fe-4e9e-8657-90c5705cd682",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## CALLBACK CATEGORIAS ÁRABES\nVai separar o fluxo conforme o interesse do usuário entre as opões Entradas, Salgados, Pratos, Promoções ou Voltar para o inicio. \n**Trabalha com o os seguintes callbacks:**\n--cardapioEntrada\n--cardapioSalgados\n--cardapioPratos\n--cardapioPromocoes\n--voltarCardapio",
        "height": 544,
        "width": 624,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        1616
      ],
      "id": "517d7626-2359-4e63-a9d6-0a0c10b9df9d",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## OPÇÕES DE COMIDAS\nSe o cliente aceitar fazer um pedido vai voltar pra a primeira parte do fluxo e redirecionar para a parte Pedido.\n**Trabalha com os callbacks:**\n--pedido\n--voltarCardapio",
        "height": 944,
        "width": 608,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1504,
        1520
      ],
      "id": "9587b583-edf7-427d-aba0-ac35579d7111",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## FALTANDO\n**PARTE FALTANDO. NECESSÁRIO FINALIZAR**)",
        "height": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1584,
        2160
      ],
      "id": "d079a3ab-9ade-42f3-ae30-3818784845e2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "={{ \"Qual das Opções Gostaria de Conhecer Melhor?\\n\\n\" }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Entrada",
                    "additionalFields": {
                      "callback_data": "cardapioEntrada"
                    }
                  },
                  {
                    "text": "Salgados",
                    "additionalFields": {
                      "callback_data": "cardapioSalgados"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Pratos",
                    "additionalFields": {
                      "callback_data": "cardapioPratos"
                    }
                  },
                  {
                    "text": "Promoções Especiais",
                    "additionalFields": {
                      "callback_data": "cardapioPromocoes"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "← Voltar",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        576
      ],
      "id": "4e81aa3d-3b21-485c-9976-66ad3f23cbde",
      "name": "Menu Categorias Mensagem",
      "webhookId": "39527d29-ffc9-44df-a6b7-feff5417418a",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ \n$('Telegram Trigger').first().json.message?.chat?.id\n??\n$('Telegram Trigger').first().json.callback_query?.message?.chat?.id\n}}",
        "text": "={{ (() => {   if ($json.hora >= 7 && $json.hora < 13)     return \"☀️ Bom dia!\\n\\n🍽️ Bem-vindo ao Restaurante Árabe Maṭʿam!\\n\\nEscolha uma opção abaixo:\";    if ($json.hora >= 13 && $json.hora < 18)     return \"🌤️ Boa tarde!\\n\\n🍽️ Bem-vindo ao Restaurante Árabe Maṭʿam!\\n\\nEscolha uma opção abaixo:\";    if ($json.hora >= 18 && $json.hora < 23)     return \"🌙 Boa noite!\\n\\n🍽️ Bem-vindo ao Restaurante Árabe Maṭʿam!\\n\\nEscolha uma opção abaixo:\";    return \"🍽️ Bem-vindo ao Restaurante Árabe Maṭʿam!\\n\\nEscolha uma opção abaixo:\"; })() }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🥙 Categorias Árabes",
                    "additionalFields": {
                      "callback_data": "categorias",
                      "switch_inline_query": "teste"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🛒 Fazer Pedido",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🚚 Acompanhar Entrega",
                    "additionalFields": {
                      "callback_data": "acompanhar"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "📍 Sobre a Unidade",
                    "additionalFields": {
                      "callback_data": "unidade"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🍽️ Reservar uma Mesa",
                    "additionalFields": {
                      "callback_data": "mesa"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🆘 Suporte e Ajuda",
                    "additionalFields": {
                      "callback_data": "suporte"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        368
      ],
      "id": "d8145386-e1b3-4dd0-bd39-c04ff95e5b15",
      "name": "Menu Principal Mensagem",
      "webhookId": "c32d41a1-dcf0-495b-b7cb-56b8f1224c93",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst clientId = $('Telegram Trigger').first().json.message.chat.id;\n\nif (!bancoDados.usuario) {\n  bancoDados.usuario = {};\n}\n\nbancoDados.usuario[clientId] = {\n  endereco: 'Rua X',\n  numeroPedidos: 0,\n  pedidos: [],\n  pagamento: 'nenhum'\n  //**O pagamento pode ser 'online' ou 'retirada'\n};\n\nreturn bancoDados;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        368
      ],
      "id": "cbf91f56-ad43-4279-86d1-41ab4c621727",
      "name": "Contador Global"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "message": "🥙 Escolha os itens desejados para o seu pedido entrando no formulário através do botão abaixo:",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Entrada",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Homus"
                  },
                  {
                    "option": "Quibe Cru"
                  },
                  {
                    "option": "Tabule"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Gostaria de quantas Esfihas?",
              "fieldType": "number",
              "placeholder": "0",
              "defaultValue": "0"
            },
            {
              "fieldLabel": "Gostaria de quantos Quibes Assados?",
              "fieldType": "number",
              "placeholder": "0",
              "defaultValue": "0"
            },
            {
              "fieldLabel": "Pratos (selecione ao menos 1)",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Kafta"
                  },
                  {
                    "option": "Charuto"
                  },
                  {
                    "option": "Cordeiro"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Gostaria de Talheres de Plástico ?",
              "fieldType": "radio",
              "defaultValue": "Não",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Sim"
                  },
                  {
                    "option": "Não"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "messageButtonLabel": "Selecionar Itens",
          "responseFormTitle": "Itens de Pedido",
          "responseFormDescription": "Selecione os itens que deseja pedir ",
          "responseFormButtonLabel": "Enviar",
          "responseFormCustomCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #262626;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #F5F5F5;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1952,
        464
      ],
      "id": "b9a98c5b-3c53-4efa-98d0-6fc5356f387b",
      "name": "Formulario Pedido",
      "webhookId": "497b0a6f-b4be-473e-9e52-da3f684a56cc",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\n\nconst clientId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\nconst numeroPedidos = bancoDados.usuario[clientId].numeroPedidos;\n\nbancoDados.usuario[clientId].pedidos[numeroPedidos]=$input.first().json.data;\n\nbancoDados.usuario[clientId].numeroPedidos++;\n\nreturn bancoDados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        464
      ],
      "id": "a09fa771-03aa-4339-a3d0-b3ee3dd48553",
      "name": "Armazenar Globalmente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a2c625e6-c547-45c5-88d4-02fda73aa9fe",
              "leftValue": "={{ $('Telegram Trigger').item.json.message }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        464
      ],
      "id": "c951046d-6368-4250-8560-448ea1acd705",
      "name": "Eh Mensagem"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "categorias",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8e2345f5-64f4-4250-96a4-1ade5ac3603f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Categorias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0a4ce8fb-5e78-4296-a359-0df631d9e051",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "pedido",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pedido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aba72b2f-b2c5-49bc-9ba5-68cbb777de0a",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "acompanhar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Acompanhar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cf69c64c-d39a-4183-8dff-4223e020b6c7",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "unidade",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unidade"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8c1e7eb7-45cd-4026-a86c-6fe87b5297ba",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "mesa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mesa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cab2aef2-3b07-4bfb-9db0-b11109aa6306",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "suporte",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Suporte"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cc6c2274-9e8c-4f9e-b7f5-7cb778ce875d",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "voltarInicio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voltar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        864,
        832
      ],
      "id": "00787ad1-e419-4f35-8d8e-33e5dcc0716d",
      "name": "Switch Inicial"
    },
    {
      "parameters": {
        "content": "## MENU CATEGORIAS ÁRABES\nVai apresentar para o cliente a opção de saber mais sobre algumas das opções a seguir: Entradas, Salgados, Pratos, Promoções ou Voltar para o inicio. \n**Trabalha com o os seguintes callbacks:**\n--cardapioEntrada\n--cardapioSalgados\n--cardapioPratos\n--cardapioPromocoes\n--voltarInicio",
        "height": 416,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1232,
        336
      ],
      "id": "c90ed03b-7c86-4b9b-bd68-62248de532c6",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## FALTANDO\nNecessário fazer um node code para verificar os dados do formulário antes de registrar",
        "height": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1984,
        336
      ],
      "id": "ff843ac4-3b5d-4331-a9b9-b8982a03ca14",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "Desejaria Algo mais ?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Sim",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  },
                  {
                    "text": "Não",
                    "additionalFields": {
                      "callback_data": "naoAlgoMais"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2368,
        464
      ],
      "id": "ec674fe9-bf52-44a8-a1c6-c02951a3e0b3",
      "name": "Algo Mais",
      "webhookId": "85a34e18-a6b1-4451-a690-ff31073b2112",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## MENU PEDIDOS\nVai apresentar um link para um formulário para o usuário fazer seu pedido e então vai registrar nas variáveis globais. Depois vai perguntar se ele deseja algo mais, caso sim ele será redirecionado para um novo pedido, caso não ele irá para a confirmação de endereço.\n**Trabalha com os seguintes callbacks:**\n--pedido\n--naoAlgoMais",
        "height": 576,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1824,
        176
      ],
      "id": "da3210d9-6ac5-48c6-8d83-03114be85595",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "cardapioEntrada",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "26477957-43fb-461c-9114-28055d9bf34d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Entrada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fdb1cb3b-ac35-403f-a153-9b185e68605e",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "cardapioSalgados",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Salgados"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9bff533f-fb9d-4018-aa7d-eb3559febd8d",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "cardapioPratos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pratos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4e3fc231-4f5c-450d-a197-d595e71f13d7",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "cardapioPromocoes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Promoções"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9a7266c8-a6d9-4f6b-b9ab-9528d86d8c62",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "voltarCardapio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voltar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1136,
        1808
      ],
      "id": "7d2fdb77-7ccb-4af7-b8e5-5ac9130684df",
      "name": "Switch Cardapio"
    },
    {
      "parameters": {
        "content": "## CALLBACK PEDIDOS\nVai separar o fluxo conforme a necessidade de Informar Endereço, Pagar Online e Pagar na Retirada.\n**Trabalha com os seguintes callbacks:**\n--naoAlgoMais\n--pagaOnline\n--pagaRetirada\n",
        "height": 576,
        "width": 608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1216,
        2512
      ],
      "id": "07dc8db3-91f7-41e1-b6d1-9af73f1872ae",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "message": "Por favor, informe seu endereço de entrega.",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Rua",
              "placeholder": "ex: Rua Princesa Leopoldina",
              "requiredField": true
            },
            {
              "fieldLabel": "Número",
              "fieldType": "number",
              "placeholder": "ex: 455",
              "requiredField": true
            },
            {
              "fieldLabel": "Complemento",
              "placeholder": "ex: Apto 32"
            },
            {
              "fieldLabel": "CEP",
              "placeholder": "ex: 03498001",
              "requiredField": true
            },
            {
              "fieldLabel": "Seu Nome",
              "placeholder": "ex: Carlos Adalberto",
              "requiredField": true
            }
          ]
        },
        "options": {
          "messageButtonLabel": "Informar Endereço",
          "responseFormTitle": "Endereço",
          "responseFormDescription": "Diga as informações do endereço de entrega, com rua, número, complemente, CEP e nome do recebedor.",
          "responseFormButtonLabel": "Enviar",
          "responseFormCustomCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #262626;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #F5F5F5;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1872,
        2640
      ],
      "id": "9a2af491-b319-4864-9b5d-b2d138877d15",
      "name": "Pedir Endereço",
      "webhookId": "85a34e18-a6b1-4451-a690-ff31073b2112",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst clientId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\nbancoDados.usuario[clientId].endereco = $input.first().json.data;\n\nreturn bancoDados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        2640
      ],
      "id": "87a85e30-c33d-4169-a7c4-7c9450b5b0e1",
      "name": "Salvar Endereço"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "Deseja efetuar o pagamento online ou na retirada do pedido ?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Online",
                    "additionalFields": {
                      "callback_data": "pagaOnline"
                    }
                  },
                  {
                    "text": "Na retirada",
                    "additionalFields": {
                      "callback_data": "pagaRetirada"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2208,
        2640
      ],
      "id": "055d1dd6-938f-46f7-9758-463912c7700a",
      "name": "Deseja Pagar",
      "webhookId": "85a34e18-a6b1-4451-a690-ff31073b2112",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\n\nfor (const key of Object.keys(data)) {\n  delete data[key];\n}\n\nreturn [{ json: {} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        128
      ],
      "id": "e78a8d64-4584-410b-89d9-1a27b454e04b",
      "name": "LIMPAR"
    },
    {
      "parameters": {
        "content": "## SALVAR ENDEREÇO\nPedi para que o usuário preencha um formulário contendo dados para a entrega e salva com um Json. Depois pergunta se o pagamento será Online ou na Retirada.",
        "height": 288,
        "width": 592,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1824,
        2512
      ],
      "id": "ec515d2c-75d8-4510-8d46-f2cdfb824537",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Isso está servindo para testes\né uma forma de limpar os dados salvos localmente",
        "height": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d7f87d7d-fe8c-49c7-8ff4-8426e142a220",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# PARA TESTAR DE UM PUBLISH, POIS A FORMA COMO OS DADOS DO USUÁRIO ESTÃO SENDO SALVAS É PERDIDA ENTRE AS EXECUÇÕES DO WORKFLOW EM TESTE!!!\nALÉM DISSO, EVITE RUN NODE, POIS TBM AFETA A FORMA DE SALVAMENTO E PORTANTO VOCÊ VAI EXPERENCIAR ERROS DEVIDO AO FUNCIONAMENTO DO N8N EM AMBIENTES DE TESTE",
        "height": 272,
        "width": 928,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1872,
        1056
      ],
      "id": "3643dd49-5d18-4c09-9a9e-edcf1360029f",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Forma Pagamento Retirada\nVai salvar o tipo de pagamento, se será Online ou na Retirada do pedido",
        "height": 400,
        "width": 592,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1824,
        2800
      ],
      "id": "9b9ed065-62e8-463d-a67b-e5f9f3e8a576",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "naoAlgoMais",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "574a180f-9a9a-42c3-b2df-df3a0756a596"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Endereço"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "60bcc6f4-6938-40b6-a63b-d785de7f47f5",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "pagaRetirada",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Retirada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e70f4bfd-d0f8-43ab-85f4-3ae56b9c6ce1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "pagaOnline",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Online"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1376,
        2736
      ],
      "id": "a0befca4-21c2-4c76-a59e-9d71bdc37c2d",
      "name": "Switch Pagamento"
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst userId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\nbancoDados.usuario[userId].pagamento = 'online';\n\nreturn bancoDados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        3056
      ],
      "id": "c23a3cd4-0b86-4dc6-a157-ae85dc617b37",
      "name": "Salvar Pag Retirada On"
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst userId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\nbancoDados.usuario[userId].pagamento = 'retirada';\n\nreturn bancoDados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        2896
      ],
      "id": "eefedabf-8579-48c4-92ec-d47c45c100db",
      "name": "Salvar Pag Retirada Re"
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst userId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\n// Tabela de precos (R$)\nconst precos = {\n  'Homus': 18.00,\n  'Quibe Cru': 22.00,\n  'Tabule': 16.00,\n  'Kafta': 45.00,\n  'Charuto': 42.00,\n  'Cordeiro': 65.00\n};\nconst precoEsfiha = 8.00;\nconst precoQuibeAssado = 10.00;\n\nlet total = 0;\nconst pedidos = bancoDados.usuario[userId]?.pedidos || [];\n\nfor (const pedido of pedidos) {\n  // Entradas (checkboxes devolvem array ou string separada por virgula)\n  const entradas = pedido['Entrada'] ? \n    (Array.isArray(pedido['Entrada']) ? pedido['Entrada'] : pedido['Entrada'].split(',').map(s => s.trim())) \n    : [];\n  for (const e of entradas) {\n    total += precos[e] || 0;\n  }\n  // Salgados\n  total += (Number(pedido['Gostaria de quantas Esfihas?']) || 0) * precoEsfiha;\n  total += (Number(pedido['Gostaria de quantos Quibes Assados?']) || 0) * precoQuibeAssado;\n  // Pratos\n  const pratos = pedido['Pratos (selecione ao menos 1)'] ?\n    (Array.isArray(pedido['Pratos (selecione ao menos 1)']) ? pedido['Pratos (selecione ao menos 1)'] : pedido['Pratos (selecione ao menos 1)'].split(',').map(s => s.trim()))\n    : [];\n  for (const p of pratos) {\n    total += precos[p] || 0;\n  }\n}\n\n// Salva o total no banco\nbancoDados.usuario[userId].totalPedido = total;\n\nreturn [{ json: { userId, total, totalFormatado: `R$ ${total.toFixed(2)}` } }];\n"
      },
      "id": "a2ad1ab3-8986-4602-973c-c8ce25c130ac",
      "name": "Calcular Total PIX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        3056
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mercadopago.com/v1/payments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Idempotency-Key",
              "value": "={{ $('Calcular Total PIX').item.json.userId + '-' + Date.now() }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"transaction_amount\": {{ $('Calcular Total PIX').item.json.total }},\n  \"description\": \"Pedido Restaurante - Telegram\",\n  \"payment_method_id\": \"pix\",\n  \"payer\": {\n    \"email\": \"cliente@pedido.com\",\n    \"identification\": {\n      \"type\": \"CPF\",\n      \"number\": \"01234567890\"\n    }\n  },\n  \"external_reference\": \"{{ $('Calcular Total PIX').item.json.userId }}\"\n}",
        "options": {}
      },
      "id": "56fdb9ab-9e9e-4a0e-92e0-16fbde208357",
      "name": "Criar Pagamento PIX MP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2624,
        3056
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7Dwmt6y505akvjC0",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst userId = $('Calcular Total PIX').item.json.userId;\nconst respMP = $input.first().json;\n\nbancoDados.usuario[userId].pixPaymentId = respMP.id;\nbancoDados.usuario[userId].pixStatus = respMP.status;\n\nconst qrCode = respMP?.point_of_interaction?.transaction_data?.qr_code || '';\nconst qrCodeBase64 = respMP?.point_of_interaction?.transaction_data?.qr_code_base64 || '';\nconst ticketUrl = respMP?.point_of_interaction?.transaction_data?.ticket_url || '';\n\nreturn [{\n  json: {\n    userId,\n    paymentId: respMP.id,\n    total: bancoDados.usuario[userId].totalFormatado || bancoDados.usuario[userId].totalPedido,\n    qrCode,\n    qrCodeBase64,\n    ticketUrl\n  }\n}];\n"
      },
      "id": "24abd172-54e6-412e-a83f-63608d62f10b",
      "name": "Salvar Payment ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2848,
        3056
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.mensagem }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "809cdd3c-28ff-4319-892e-2be8974a5a93",
      "name": "Enviar Link PIX Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3248,
        3056
      ],
      "webhookId": "1e0d9209-4b35-454e-b2a3-1cb828024a8f",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mercadopago-pix",
        "options": {}
      },
      "id": "75917b50-d6dd-4a07-b0fe-b4fec8612383",
      "name": "Webhook Confirmação MP",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        3296,
        2848
      ],
      "webhookId": "mercadopago-pix-confirmacao"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "pix-cond-status",
              "leftValue": "={{ $json.body?.data?.id ? 'has_id' : $json.action }}",
              "rightValue": "has_id",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0fb19a58-7828-4a26-92f0-207c423d8343",
      "name": "Verificar Pagamento Aprovado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3520,
        2848
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.mercadopago.com/v1/payments/' + $json.body.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "d3009dc9-4275-4ecd-a5c8-ab4bbb1c6709",
      "name": "Consultar Status Pagamento MP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3744,
        2848
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7Dwmt6y505akvjC0",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "pix-cond-approved",
              "leftValue": "={{ $json.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3412d3c3-874c-4788-8f62-57fbff8256d9",
      "name": "Se Status Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3968,
        2848
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.external_reference }}",
        "text": "✅ *Pagamento aprovado!*\n\nSeu pedido foi confirmado e já está sendo preparado. Obrigado! 🎉",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "76f678af-1111-48af-9c24-de7341039e7a",
      "name": "Confirmar Pagamento Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4192,
        2848
      ],
      "webhookId": "447f02c4-4f69-4ea2-a19c-2e2cd2b9753a",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Pagamento PIX – Mercado Pago\n\n**Fluxo:**\n1. Calcular Total PIX → calcula valor do pedido\n2. Criar Pagamento PIX MP → chama API do Mercado Pago\n3. Salvar Payment ID → guarda dados no static data\n4. Enviar Link PIX Telegram → envia link + copia e cola\n\n**Webhook separado (linha do lado):**\n5. Webhook Confirmação MP → recebe notificação\n6. Verificar / Consultar → valida pagamento\n7. Confirmar Pagamento Telegram → avisa o usuário\n\n⚠️ Crie a credencial **Mercado Pago Token** em:\nSettings → Credentials → HTTP Header Auth\nHeader: `Authorization`, Value: `Bearer SEU_ACCESS_TOKEN`\n\nConfigure o webhook no painel MP:\n`/webhook/mercadopago-pix`",
        "height": 424,
        "width": 800,
        "color": 4
      },
      "id": "1b45daef-e43e-4c78-b3f3-9d0f7ad16efc",
      "name": "Sticky Note PIX",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2416,
        2672
      ]
    },
    {
      "parameters": {
        "jsCode": "const url = $input.first().json.ticketUrl.replace(/&/g, '%26');\nconst total = $input.first().json.total;\n\nreturn [{\n  json: {\n    mensagem: `Pagamento PIX gerado!\\n\\nValor: R$ ${total}\\n\\nLink para pagar:\\n${url}\\n\\nApos o pagamento voce recebera a confirmacao!`,\n    chatId: $input.first().json.userId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3056,
        3056
      ],
      "id": "93bc6568-38a7-4a3c-ba5c-601899281c1f",
      "name": "Preparar Mensagem Pix"
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst userId = $input.first().json.external_reference;\n\nif (bancoDados.usuario && bancoDados.usuario[userId]) {\n  bancoDados.usuario[userId].pedidos = [];\n  bancoDados.usuario[userId].numeroPedidos = 0;\n  bancoDados.usuario[userId].totalPedido = 0;\n  bancoDados.usuario[userId].pixPaymentId = null;\n  bancoDados.usuario[userId].pixStatus = null;\n}\n\nreturn [{ json: { ok: true, userId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        2848
      ],
      "id": "27277030-86e7-4061-8490-c536b4cfc40f",
      "name": "Limpar Pedidos"
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst userId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\nif (bancoDados.usuario && bancoDados.usuario[userId]) {\n  bancoDados.usuario[userId].pedidos = [];\n  bancoDados.usuario[userId].numeroPedidos = 0;\n  bancoDados.usuario[userId].totalPedido = 0;\n}\n\nreturn [{ json: { ok: true, userId } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        2896
      ],
      "id": "405c6184-f996-4fd7-89fc-fc8fb248fc3e",
      "name": "Limpar Dados Retirada"
    },
    {
      "parameters": {
        "content": "## AJUSTE\nAdicionar visualização do total do pedido",
        "height": 112,
        "width": 176,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1824,
        2880
      ],
      "id": "672af399-382b-4447-a947-9aabe63823cc",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## CONFIRMAÇÃO PAGAMENTO\n",
        "height": 272,
        "width": 1392,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3216,
        2768
      ],
      "id": "d42de27b-d83c-44a5-aad7-e990444a4088",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "<b>Ficamos felizes</b> que queira conhecer mais sobre nosso estabelecimento.\n\nQual das seguintes informações gostaria de saber sobre nossa unidade?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Localização",
                    "additionalFields": {
                      "callback_data": "saberLocalizacao"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Horários",
                    "additionalFields": {
                      "callback_data": "saberHorarios"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Estrutura",
                    "additionalFields": {
                      "callback_data": "saberEstrutura"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "← Voltar",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1568,
        928
      ],
      "id": "663d5a5c-fc70-4112-bdb4-44f445384dc8",
      "name": "Opcoes Sobre Unidade",
      "webhookId": "a4d85382-903d-4778-9460-abcad88713bf",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## MENU SOBRE UNIDADE\nVai apresentar as opções de informações que o cliente pode obter sobre a unidade.\n**Trabalha com os seguintes callbacks:**\n--saberLocalizacao\n--saberHorarios\n--saberEstrutura\n--voltarInicio",
        "height": 304,
        "width": 416,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1408,
        784
      ],
      "id": "42af8f19-25e0-45b0-b1f2-db3a2878879e",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "saberLocalizacao",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "89a73e59-f611-4db0-a3f1-e022a4effc88"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Localização"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5601e579-17b9-4036-933b-63a3af66a47e",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "saberHorarios",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Horário"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aa6f0945-d264-4b8c-96b1-aef21ca7e0ac",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "saberEstrutura",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Estrutura"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1536,
        3424
      ],
      "id": "a2b3d464-e532-4540-a512-dd246b79265d",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "## MENU SOBRE UNIDADE\nVai separar o fluxo entre as opções de conhecer mais sobre a unidade, Localização, Horários e Estrutura\n**Trabalha com os seguintes callbacks:**\n--saberLocalizacao\n--saberHorarios\n--saberEstrutura\n",
        "height": 480,
        "width": 416,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1392,
        3200
      ],
      "id": "2380abc7-42f5-4551-8621-3f671a0e2bb9",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "<b>📍 Como chegar ao Maṭʿam</b>\n\nEstamos localizados na:\n\n📌 Rua das Esfihas, 123 - Centro\n\n🗺️ <a href=\"https://maps.google.com\">Abrir no Google Maps</a>\n\nSerá um prazer receber você! 🧆✨",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "← Voltar",
                    "additionalFields": {
                      "callback_data": "unidade"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Início",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2016,
        3344
      ],
      "id": "e0f0c02e-d977-4e3f-a5b5-66a36d2cfaf4",
      "name": "Sobre Localizacao",
      "webhookId": "a4d85382-903d-4778-9460-abcad88713bf",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## MENU SOBRE LOCALIZAÇÃO\nInforma a localização do estabelecimento e fornece link e botão de voltar e ir ao início\n**Trabalha com os seguintes callbacks:**\n--unidade\n--voltarInicio\n",
        "height": 272,
        "width": 416,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1872,
        3216
      ],
      "id": "eb578931-24c9-400b-ab59-64dbcd87c302",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "<b>🕒 Horários de Funcionamento — Maṭʿam</b>\n\n📅 Seg a Sáb: 11h às 23h\n📅 Dom: 12h às 18h\n\nEsperamos por você! 🧆✨",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "← Voltar",
                    "additionalFields": {
                      "callback_data": "unidade"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Início",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2464,
        3424
      ],
      "id": "d1fae4e1-9962-4ab7-a373-441fde768943",
      "name": "Sobre Horário",
      "webhookId": "a4d85382-903d-4778-9460-abcad88713bf",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "<b>✨ Estrutura do Maṭʿam</b>\n\n👧 Espaço Kids\n\n🅿️ Estacionamento Grátis\n\n♿ Acessibilidade\n\nTudo pensado para o seu conforto e da sua família 🧆",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "← Voltar",
                    "additionalFields": {
                      "callback_data": "unidade"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Início",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2048,
        3632
      ],
      "id": "96c97135-92e1-4589-acb3-3f26ffad0e90",
      "name": "Sobre Estrutura",
      "webhookId": "a4d85382-903d-4778-9460-abcad88713bf",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## MENU SOBRE HORÁRIO\nInforma sobre os horários do estabelecimento. Tem um botão para voltar e para ir para o início\n**Trabalha com os seguintes callbacks:**\n--unidade\n--voltarInicio\n",
        "height": 272,
        "width": 416,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2320,
        3312
      ],
      "id": "0c05330a-d812-4fde-bd43-2eaaf6d2bc7c",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## MENU SOBRE ESTRUTURA\nInforma sobre a estrutura do estabelecimento. Tem um botão voltar e para ir ao início\n**Trabalha com os seguintes callbacks:**\n--unidade\n--voltarInicio\n",
        "height": 272,
        "width": 416,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1872,
        3504
      ],
      "id": "3618551f-42a2-40e4-b9aa-572ebb0081e7",
      "name": "Sticky Note19"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 737498937,
          "callback_query": {
            "id": "1016239499952654973",
            "from": {
              "id": 6679062640,
              "is_bot": false,
              "first_name": "Luter",
              "language_code": "pt-br"
            },
            "message": {
              "message_id": 225,
              "from": {
                "id": 8679938918,
                "is_bot": true,
                "first_name": "Restaurante Maṭʿam",
                "username": "restaurantejorjao_bot"
              },
              "chat": {
                "id": 6679062640,
                "first_name": "Luter",
                "type": "private"
              },
              "date": 1778651829,
              "text": "Deseja efetuar o pagamento online ou na retirada do pedido ?",
              "reply_markup": {
                "inline_keyboard": [
                  [
                    {
                      "text": "Online",
                      "callback_data": "pagaOnline"
                    },
                    {
                      "text": "Na retirada",
                      "callback_data": "pagaRetirada"
                    }
                  ]
                ]
              }
            },
            "chat_instance": "-6486450329571153113",
            "data": "pagaOnline"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Eh Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ColetarHoras": {
      "main": [
        [
          {
            "node": "Menu Principal Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulario Pedido": {
      "main": [
        [
          {
            "node": "Armazenar Globalmente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armazenar Globalmente": {
      "main": [
        [
          {
            "node": "Algo Mais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eh Mensagem": {
      "main": [
        [
          {
            "node": "LIMPAR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Inicial": {
      "main": [
        [
          {
            "node": "Menu Categorias Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formulario Pedido",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Opcoes Sobre Unidade",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [
          {
            "node": "Menu Principal Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Cardapio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contador Global": {
      "main": [
        [
          {
            "node": "ColetarHoras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Cardapio": {
      "main": [
        [
          {
            "node": "Opcoes Entrada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opcoes Salgados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opcoes Pratos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opcoes Promocoes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu Categorias Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir Endereço": {
      "main": [
        [
          {
            "node": "Salvar Endereço",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Endereço": {
      "main": [
        [
          {
            "node": "Deseja Pagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LIMPAR": {
      "main": [
        [
          {
            "node": "Contador Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Pagamento": {
      "main": [
        [
          {
            "node": "Pedir Endereço",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Pag Retirada Re",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Pag Retirada On",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Pag Retirada On": {
      "main": [
        [
          {
            "node": "Calcular Total PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Total PIX": {
      "main": [
        [
          {
            "node": "Criar Pagamento PIX MP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Pagamento PIX MP": {
      "main": [
        [
          {
            "node": "Salvar Payment ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Payment ID": {
      "main": [
        [
          {
            "node": "Preparar Mensagem Pix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Confirmação MP": {
      "main": [
        [
          {
            "node": "Verificar Pagamento Aprovado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Pagamento Aprovado": {
      "main": [
        [
          {
            "node": "Consultar Status Pagamento MP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Status Pagamento MP": {
      "main": [
        [
          {
            "node": "Se Status Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se Status Approved": {
      "main": [
        [
          {
            "node": "Confirmar Pagamento Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagem Pix": {
      "main": [
        [
          {
            "node": "Enviar Link PIX Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar Pagamento Telegram": {
      "main": [
        [
          {
            "node": "Limpar Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Pag Retirada Re": {
      "main": [
        [
          {
            "node": "Limpar Dados Retirada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Sobre Localizacao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sobre Horário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sobre Estrutura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5c2df677-ebb1-4a73-8efd-35e5f1fde88e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8820a1bab815e9b7dedca81d44851aff32376584db9b661da77de9b0b2fc6092"
  },
  "id": "t9GEOhOSGuCCjqR0",
  "tags": []
}