chatbotTelegramRestaurante.json
{
  "name": "chatbotTelegramRestaurante",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -1264,
        2240
      ],
      "id": "3070dc49-9d53-4b66-941f-8a248357420a",
      "name": "Telegram Trigger",
      "webhookId": "1026be42-cb67-4038-948b-93b450cda22e",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst hora = new Date(new Date().toLocaleString(\"en-US\", { timeZone: \"America/Sao_Paulo\" })).getHours();\n\nreturn [{ json: { hora } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        2112
      ],
      "id": "47196ea7-7e39-43a6-9bd9-84e348086226",
      "name": "ColetarHoras"
    },
    {
      "parameters": {
        "content": "## INICIO\n\nMessagem de saudação e primeiro menu de opções com:\n1- Categorias Árabes\n2- Fazer Pedido\n3- Acompanhar Entrega\n4- Sobre a Unidade\n5- Reserva uma Mese\n6- Suporte e Ajuda",
        "height": 464,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        1888
      ],
      "id": "ab2936e7-d345-4231-8188-a8f69a27abd3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## CALLBACK DA SELEÇÃO INICIAL\nVai separar o fluxo conforme a decisão inicial do usuário em relações as opções do menu principal. Há uma opção de voltar para o início em ultímo.\n**Trabalha com os seguintes callbacks:**\n--categorias\n--pedido\n--acompanhar\n--unidade\n--mesa\n--suporte\n--voltarInicio",
        "height": 512,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        2400
      ],
      "id": "36b6c0f8-0350-4974-8b7b-108e3d2e9370",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "={{\n`🥟 Excelente escolha! Nossos salgados assados são preparados seguindo receitas tradicionais da culinária árabe, combinando massa leve, recheios bem temperados e muito sabor em cada detalhe.\n\n🔥 Confira algumas das opções disponíveis:\n\n• 🥙 Esfihas Assadas — Massa macia e dourada com recheios tradicionais preparados com ingredientes frescos e selecionados.\n• 🧆 Quibes Assados — Receita clássica com trigo especial, carne temperada e textura crocante por fora e macia por dentro.\n\n🍽️ Gostaria de realizar um pedido agora ou deseja conhecer outras opções do nosso cardápio?`\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "SIM, desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "NÃO, não desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "voltarCardapio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        3840
      ],
      "id": "063c7d68-1e16-4d1d-affa-4e1078a3e410",
      "name": "Opcoes Salgados",
      "webhookId": "faabc4f8-61fe-4e9e-8657-90c5705cd682",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "={{\n`🥙 Perfeita escolha! Nossas entradas são preparadas com sabores tradicionais da culinária árabe, trazendo combinações leves, frescas e marcantes para começar sua experiência da melhor forma.\n\n✨ Confira algumas das nossas opções disponíveis:\n\n• 🧆 Homus — Pasta cremosa de grão-de-bico temperada com tahine, alho e especiarias árabes.\n• 🥩 Quibe Cru — Receita tradicional preparada com carne selecionada, trigo especial e temperos frescos.\n• 🥗 Tabule — Salada refrescante com trigo para quibe, tomate, cebola, salsa e hortelã.\n\n🍽️ Gostaria de pedir alguma entrada agora ou deseja conhecer outras opções do nosso cardápio?`\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "SIM, desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "NÃO, não desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "voltarCardapio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        3680
      ],
      "id": "7f7ec2c1-8e5e-4c87-bf5b-c55bfffc245e",
      "name": "Opcoes Entrada",
      "webhookId": "faabc4f8-61fe-4e9e-8657-90c5705cd682",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "={{\n`🍽️ Ótima escolha! Nossos pratos principais trazem sabores autênticos da culinária árabe, preparados com ingredientes selecionados, temperos tradicionais e muito cuidado em cada receita.\n\n✨ Confira algumas das especialidades disponíveis:\n\n• 🥩 Kafta — Espetinhos de carne temperada com ervas e especiarias árabes, grelhados no ponto ideal.\n• 🌿 Charuto — Folhas recheadas com uma combinação saborosa de arroz e temperos tradicionais.\n• 🍖 Cordeiro — Prato preparado com carne macia e suculenta, acompanhada pelos sabores marcantes da culinária árabe.\n\n🍴 Gostaria de realizar um pedido agora ou deseja conhecer outras opções do nosso cardápio?`\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "SIM, desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "NÃO, não desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "voltarCardapio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        4000
      ],
      "id": "dd52a5f5-ce68-4a9b-9aa3-0ed0c47b18a4",
      "name": "Opcoes Pratos",
      "webhookId": "faabc4f8-61fe-4e9e-8657-90c5705cd682",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "<b>🍽️ Promoção Especial Encontrada!</b>  \nTemos ofertas imperdíveis para você aproveitar hoje 😋🔥  \n\nConfira no PDF abaixo todas as promoções, combos e descontos disponíveis no nosso restaurante árabe.  \nAproveite enquanto durar! ✨",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1200,
        4240
      ],
      "id": "1f684f20-8f75-48b8-ba87-97078f658826",
      "name": "Opcoes Promocoes",
      "webhookId": "faabc4f8-61fe-4e9e-8657-90c5705cd682",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## CALLBACK CATEGORIAS ÁRABES\nVai separar o fluxo conforme o interesse do usuário entre as opões Entradas, Salgados, Pratos, Promoções ou Voltar para o inicio. \n**Trabalha com o os seguintes callbacks:**\n--cardapioEntrada\n--cardapioSalgados\n--cardapioPratos\n--cardapioPromocoes\n--voltarCardapio",
        "height": 544,
        "width": 624,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        3600
      ],
      "id": "770ad68d-c403-43d4-8693-789d050549c3",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## OPÇÕES DE COMIDAS\nSe o cliente aceitar fazer um pedido vai voltar pra a primeira parte do fluxo e redirecionar para a parte Pedido.\n**Trabalha com os callbacks:**\n--pedido\n--voltarCardapio",
        "height": 944,
        "width": 1280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        3504
      ],
      "id": "c2d3f1a4-28ba-4e79-a63a-1e53231c8ca1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "={{ \"Qual das Opções Gostaria de Conhecer Melhor?\\n\\n\" }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Entrada",
                    "additionalFields": {
                      "callback_data": "cardapioEntrada"
                    }
                  },
                  {
                    "text": "Salgados",
                    "additionalFields": {
                      "callback_data": "cardapioSalgados"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Pratos",
                    "additionalFields": {
                      "callback_data": "cardapioPratos"
                    }
                  },
                  {
                    "text": "Promoções Especiais",
                    "additionalFields": {
                      "callback_data": "cardapioPromocoes"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "← Voltar",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        2320
      ],
      "id": "208b508f-9e75-4d9e-bacd-7c99df22162f",
      "name": "Menu Categorias Mensagem",
      "webhookId": "39527d29-ffc9-44df-a6b7-feff5417418a",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ \n$('Telegram Trigger').first().json.message?.chat?.id\n??\n$('Telegram Trigger').first().json.callback_query?.message?.chat?.id\n}}",
        "text": "={{ (() => {   if ($json.hora >= 7 && $json.hora < 13)     return \"☀️ Bom dia!\\n\\n🍽️ Bem-vindo ao Restaurante Árabe Maṭʿam!\\n\\nEscolha uma opção abaixo:\";    if ($json.hora >= 13 && $json.hora < 18)     return \"🌤️ Boa tarde!\\n\\n🍽️ Bem-vindo ao Restaurante Árabe Maṭʿam!\\n\\nEscolha uma opção abaixo:\";    if ($json.hora >= 18 && $json.hora < 23)     return \"🌙 Boa noite!\\n\\n🍽️ Bem-vindo ao Restaurante Árabe Maṭʿam!\\n\\nEscolha uma opção abaixo:\";    return \"🍽️ Bem-vindo ao Restaurante Árabe Maṭʿam!\\n\\nEscolha uma opção abaixo:\"; })() }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🥙 Categorias Árabes",
                    "additionalFields": {
                      "callback_data": "categorias",
                      "switch_inline_query": "teste"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🛒 Fazer Pedido",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🚚 Acompanhar Entrega",
                    "additionalFields": {
                      "callback_data": "acompanhar"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "📍 Sobre a Unidade",
                    "additionalFields": {
                      "callback_data": "unidade"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🍽️ Reservar uma Mesa",
                    "additionalFields": {
                      "callback_data": "mesa"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🆘 Suporte e Ajuda",
                    "additionalFields": {
                      "callback_data": "suporte"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        2112
      ],
      "id": "63a54261-22ed-4a16-b728-0703f45297f7",
      "name": "Menu Principal Mensagem",
      "webhookId": "c32d41a1-dcf0-495b-b7cb-56b8f1224c93",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst clientId = $('Telegram Trigger').first().json.message.chat.id;\n\nbancoDados.atendentes = ['6679062640'];\n\nbancoDados.promocaoAtiva = true;\n\nif (!bancoDados.usuario) {\n  bancoDados.usuario = {};\n}\n\nif (!bancoDados.usuario[clientId]) {\n  bancoDados.usuario[clientId] = {\n  endereco: 'Rua X',\n  numeroPedidos: 0,\n  pedidos: [],\n  pagamento: 'nenhum',\n  nomeCliente: 'nenhum',\n  emailCliente: 'nenhum@email.com'\n  //**O pagamento pode ser 'online' ou 'retirada'\n  };\n}\nif (!bancoDados.usuario[clientId].endereco) {\n  bancoDados.usuario[clientId].endereco = 'Rua X';\n}\nif (!bancoDados.usuario[clientId].numeroPedidos) {\n  bancoDados.usuario[clientId].numeroPedidos = 0;\n}\nif (!bancoDados.usuario[clientId].pagamento) {\n  bancoDados.usuario[clientId].pagamento = 'nenhum';\n}\nif (!bancoDados.usuario[clientId].nomeCliente) {\n  bancoDados.usuario[clientId].nomeCliente = 'nenhum';\n}\nif (!bancoDados.usuario[clientId].emailCliente) {\n  bancoDados.usuario[clientId].emailCliente = 'nenhum';\n}\n\nreturn bancoDados;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        2112
      ],
      "id": "8f22a59d-59ce-4c69-b1fd-9ace2ad987b2",
      "name": "Contador Global"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "message": "🥙 Escolha os itens desejados para o seu pedido entrando no formulário através do botão abaixo:",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Entrada",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Homus"
                  },
                  {
                    "option": "Quibe Cru"
                  },
                  {
                    "option": "Tabule"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Gostaria de quantas Esfihas?",
              "fieldType": "number",
              "placeholder": "0",
              "defaultValue": "0"
            },
            {
              "fieldLabel": "Gostaria de quantos Quibes Assados?",
              "fieldType": "number",
              "placeholder": "0",
              "defaultValue": "0"
            },
            {
              "fieldLabel": "Pratos (selecione ao menos 1)",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Kafta"
                  },
                  {
                    "option": "Charuto"
                  },
                  {
                    "option": "Cordeiro"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Gostaria de Talheres de Plástico ?",
              "fieldType": "radio",
              "defaultValue": "Não",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Sim"
                  },
                  {
                    "option": "Não"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "messageButtonLabel": "Selecionar Itens",
          "responseFormTitle": "Itens de Pedido",
          "responseFormDescription": "Selecione os itens que deseja pedir ",
          "responseFormButtonLabel": "Enviar",
          "responseFormCustomCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #262626;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #F5F5F5;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1152,
        2208
      ],
      "id": "c5ea3c71-578c-4cbb-887d-f261f3b02cdf",
      "name": "Formulario Pedido",
      "webhookId": "497b0a6f-b4be-473e-9e52-da3f684a56cc",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\n\nconst clientId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\nconst numeroPedidos = bancoDados.usuario[clientId].numeroPedidos;\n\nconst pedidoParaSalvar = { ...$input.first().json.data, _status: 'em preparo' };\n\nbancoDados.usuario[clientId].pedidos[numeroPedidos]=pedidoParaSalvar;\n\nbancoDados.usuario[clientId].numeroPedidos++;\n\nreturn bancoDados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        2208
      ],
      "id": "0ba1516e-37e6-4e5a-9f02-978a4f742cd3",
      "name": "Armazenar Globalmente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a2c625e6-c547-45c5-88d4-02fda73aa9fe",
              "leftValue": "={{ $('Telegram Trigger').item.json.message }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -832,
        2256
      ],
      "id": "8a45fe1b-d4fd-4aa9-a40d-6fee435cc956",
      "name": "Eh Mensagem"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "categorias",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8e2345f5-64f4-4250-96a4-1ade5ac3603f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Categorias"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0a4ce8fb-5e78-4296-a359-0df631d9e051",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "pedido",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pedido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aba72b2f-b2c5-49bc-9ba5-68cbb777de0a",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "acompanhar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Acompanhar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cf69c64c-d39a-4183-8dff-4223e020b6c7",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "unidade",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Unidade"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8c1e7eb7-45cd-4026-a86c-6fe87b5297ba",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "mesa",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Mesa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cab2aef2-3b07-4bfb-9db0-b11109aa6306",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "suporte",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Suporte"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "cc6c2274-9e8c-4f9e-b7f5-7cb778ce875d",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "voltarInicio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voltar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "acomp-sw-01",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "acomp_marcarEntregue",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MarcarEntregue"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "acomp-sw-02",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "acomp_confirmarEntrega_",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith",
                      "name": "filter.operator.startsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ConfirmarEntrega"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        64,
        2560
      ],
      "id": "1846ebde-a694-4388-abe7-a335d6df6e0c",
      "name": "Switch Inicial"
    },
    {
      "parameters": {
        "content": "## MENU CATEGORIAS ÁRABES\nVai apresentar para o cliente a opção de saber mais sobre algumas das opções a seguir: Entradas, Salgados, Pratos, Promoções ou Voltar para o inicio. \n**Trabalha com o os seguintes callbacks:**\n--cardapioEntrada\n--cardapioSalgados\n--cardapioPratos\n--cardapioPromocoes\n--voltarInicio",
        "height": 416,
        "width": 432,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        2080
      ],
      "id": "39613887-facb-49e6-a76f-94df0f07befd",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "Desejaria Algo mais ?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Sim",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  },
                  {
                    "text": "Não",
                    "additionalFields": {
                      "callback_data": "naoAlgoMais"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1568,
        2208
      ],
      "id": "70e40771-8dfa-4d5f-ab0b-cccdf914c147",
      "name": "Algo Mais",
      "webhookId": "85a34e18-a6b1-4451-a690-ff31073b2112",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## MENU PEDIDOS\nVai apresentar um link para um formulário para o usuário fazer seu pedido e então vai registrar nas variáveis globais. Depois vai perguntar se ele deseja algo mais, caso sim ele será redirecionado para um novo pedido, caso não ele irá para a confirmação de endereço.\n**Trabalha com os seguintes callbacks:**\n--pedido\n--naoAlgoMais",
        "height": 576,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1024,
        1920
      ],
      "id": "c2ac6843-59de-4f39-91dc-fc318e936937",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "cardapioEntrada",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "26477957-43fb-461c-9114-28055d9bf34d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Entrada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fdb1cb3b-ac35-403f-a153-9b185e68605e",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "cardapioSalgados",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Salgados"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9bff533f-fb9d-4018-aa7d-eb3559febd8d",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "cardapioPratos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pratos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4e3fc231-4f5c-450d-a197-d595e71f13d7",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "cardapioPromocoes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Promoções"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9a7266c8-a6d9-4f6b-b9ab-9528d86d8c62",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "voltarCardapio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voltar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        352,
        3792
      ],
      "id": "3067d320-c115-4e99-891e-28e2524dca39",
      "name": "Switch Cardapio"
    },
    {
      "parameters": {
        "content": "## CALLBACK PEDIDOS\nVai separar o fluxo conforme a necessidade de Informar Endereço, Pagar Online e Pagar na Retirada.\n**Trabalha com os seguintes callbacks:**\n--naoAlgoMais\n--pagaOnline\n--pagaRetirada\n",
        "height": 576,
        "width": 608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        432,
        4496
      ],
      "id": "ab4d4a28-8de1-4e15-8f27-2e6dde27adc9",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "message": "Por favor, informe seu endereço de entrega.",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Rua",
              "placeholder": "ex: Rua Princesa Leopoldina",
              "requiredField": true
            },
            {
              "fieldLabel": "Número",
              "fieldType": "number",
              "placeholder": "ex: 455",
              "requiredField": true
            },
            {
              "fieldLabel": "Complemento",
              "placeholder": "ex: Apto 32"
            },
            {
              "fieldLabel": "CEP",
              "placeholder": "ex: 03498001",
              "requiredField": true
            },
            {
              "fieldLabel": "Seu Nome",
              "placeholder": "ex: Carlos Adalberto",
              "requiredField": true
            }
          ]
        },
        "options": {
          "messageButtonLabel": "Informar Endereço",
          "responseFormTitle": "Endereço",
          "responseFormDescription": "Diga as informações do endereço de entrega, com rua, número, complemente, CEP e nome do recebedor.",
          "responseFormButtonLabel": "Enviar",
          "responseFormCustomCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #262626;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #F5F5F5;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        4624
      ],
      "id": "b2e6a5ff-8f51-408c-9c4d-d861a36cefe1",
      "name": "Pedir Endereço",
      "webhookId": "85a34e18-a6b1-4451-a690-ff31073b2112",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst clientId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\nbancoDados.usuario[clientId].endereco = $input.first().json.data;\n\nreturn bancoDados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        4624
      ],
      "id": "5ca267b7-466a-4b08-a5a8-158351f8f40f",
      "name": "Salvar Endereço"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "Deseja efetuar o pagamento online ou na retirada do pedido ?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Online",
                    "additionalFields": {
                      "callback_data": "pagaOnline"
                    }
                  },
                  {
                    "text": "Na retirada",
                    "additionalFields": {
                      "callback_data": "pagaRetirada"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1424,
        4624
      ],
      "id": "21501704-f8d9-4ec9-bd77-408934595aad",
      "name": "Deseja Pagar",
      "webhookId": "85a34e18-a6b1-4451-a690-ff31073b2112",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst clientId = $('Telegram Trigger').first().json.message.chat.id;\n\nif (bancoDados.usuario && bancoDados.usuario[clientId]) {\n  bancoDados.usuario[clientId] = {\n    endereco: '',\n    numeroPedidos: 0,\n    pedidos: [],\n    pagamento: 'nenhum',\n    nomeCliente: 'nenhum',\n    emailCliente: ''\n  };\n}\n\nreturn [{ json: {} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        1760
      ],
      "id": "b247f95a-d95d-4510-8ad5-8d3090c2aa1b",
      "name": "LIMPAR"
    },
    {
      "parameters": {
        "content": "## SALVAR ENDEREÇO\nPedi para que o usuário preencha um formulário contendo dados para a entrega e salva com um Json. Depois pergunta se o pagamento será Online ou na Retirada.",
        "height": 288,
        "width": 592,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        4496
      ],
      "id": "11cbcf65-513b-4c4f-bb6e-36e3b9a86e2f",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Isso está servindo para testes\né uma forma de limpar os dados salvos localmente",
        "height": 256,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1344,
        1632
      ],
      "id": "289da5b3-4d31-4804-8bd4-12e646da903c",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# PARA TESTAR DE UM PUBLISH, POIS A FORMA COMO OS DADOS DO USUÁRIO ESTÃO SENDO SALVAS É PERDIDA ENTRE AS EXECUÇÕES DO WORKFLOW EM TESTE!!!\nALÉM DISSO, EVITE RUN NODE, POIS TBM AFETA A FORMA DE SALVAMENTO E PORTANTO VOCÊ VAI EXPERENCIAR ERROS DEVIDO AO FUNCIONAMENTO DO N8N EM AMBIENTES DE TESTE",
        "height": 272,
        "width": 928,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1984,
        1744
      ],
      "id": "9ffbb611-1ab6-458b-96af-d0ae41adba9e",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Forma Pagamento Retirada\nVai salvar o tipo de pagamento, se será Online ou na Retirada do pedido",
        "height": 400,
        "width": 800,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        4784
      ],
      "id": "d981c138-9917-42da-b96e-ceb928bf7a38",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "naoAlgoMais",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "574a180f-9a9a-42c3-b2df-df3a0756a596"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Endereço"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "60bcc6f4-6938-40b6-a63b-d785de7f47f5",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "pagaRetirada",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Retirada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e70f4bfd-d0f8-43ab-85f4-3ae56b9c6ce1",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "pagaOnline",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Online"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        592,
        4720
      ],
      "id": "0124ef84-0559-4cc0-9dd7-a6e0a9187039",
      "name": "Switch Pagamento"
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst userId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\nbancoDados.usuario[userId].pagamento = 'online';\n\nreturn bancoDados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        5040
      ],
      "id": "89844bcf-0dc7-48ac-9c54-901bf28de1a2",
      "name": "Salvar Pag Retirada On"
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst userId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\nbancoDados.usuario[userId].pagamento = 'retirada';\n\nreturn bancoDados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        4880
      ],
      "id": "97ba61b6-39de-4a3a-bd07-8981735b2550",
      "name": "Salvar Pag Retirada Re"
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst userId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\n// Tabela de precos (R$)\nconst precos = {\n  'Homus': 18.00,\n  'Quibe Cru': 22.00,\n  'Tabule': 16.00,\n  'Kafta': 45.00,\n  'Charuto': 42.00,\n  'Cordeiro': 65.00\n};\nconst precoEsfiha = 8.00;\nconst precoQuibeAssado = 10.00;\n\nlet total = 0;\nconst pedidos = bancoDados.usuario[userId]?.pedidos || [];\n\nfor (const pedido of pedidos) {\n  // Entradas (checkboxes devolvem array ou string separada por virgula)\n  const entradas = pedido['Entrada'] ? \n    (Array.isArray(pedido['Entrada']) ? pedido['Entrada'] : pedido['Entrada'].split(',').map(s => s.trim())) \n    : [];\n  for (const e of entradas) {\n    total += precos[e] || 0;\n  }\n  // Salgados\n  total += (Number(pedido['Gostaria de quantas Esfihas?']) || 0) * precoEsfiha;\n  total += (Number(pedido['Gostaria de quantos Quibes Assados?']) || 0) * precoQuibeAssado;\n  // Pratos\n  const pratos = pedido['Pratos (selecione ao menos 1)'] ?\n    (Array.isArray(pedido['Pratos (selecione ao menos 1)']) ? pedido['Pratos (selecione ao menos 1)'] : pedido['Pratos (selecione ao menos 1)'].split(',').map(s => s.trim()))\n    : [];\n  for (const p of pratos) {\n    total += precos[p] || 0;\n  }\n}\n\n// Salva o total no banco\nbancoDados.usuario[userId].totalPedido = total;\n\nreturn [{ json: { userId, total, totalFormatado: `R$ ${total.toFixed(2)}` } }];\n"
      },
      "id": "39d4cc73-9d34-49a8-ac29-4ffcb91bd677",
      "name": "Calcular Total PIX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        5040
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mercadopago.com/v1/payments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Idempotency-Key",
              "value": "={{ $('Calcular Total PIX').item.json.userId + '-' + Date.now() }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"transaction_amount\": {{ $('Calcular Total PIX').item.json.total }},\n  \"description\": \"Pedido Restaurante - Telegram\",\n  \"payment_method_id\": \"pix\",\n  \"payer\": {\n    \"email\": \"cliente@pedido.com\",\n    \"identification\": {\n      \"type\": \"CPF\",\n      \"number\": \"01234567890\"\n    }\n  },\n  \"external_reference\": \"{{ $('Calcular Total PIX').item.json.userId }}\"\n}",
        "options": {}
      },
      "id": "9888bd94-1b64-4552-a305-40f6ad002d58",
      "name": "Criar Pagamento PIX MP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2048,
        5040
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7Dwmt6y505akvjC0",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst userId = $('Calcular Total PIX').item.json.userId;\nconst respMP = $input.first().json;\n\nbancoDados.usuario[userId].pixPaymentId = respMP.id;\nbancoDados.usuario[userId].pixStatus = respMP.status;\n\nconst qrCode = respMP?.point_of_interaction?.transaction_data?.qr_code || '';\nconst qrCodeBase64 = respMP?.point_of_interaction?.transaction_data?.qr_code_base64 || '';\nconst ticketUrl = respMP?.point_of_interaction?.transaction_data?.ticket_url || '';\n\nreturn [{\n  json: {\n    userId,\n    paymentId: respMP.id,\n    total: bancoDados.usuario[userId].totalFormatado || bancoDados.usuario[userId].totalPedido,\n    qrCode,\n    qrCodeBase64,\n    ticketUrl\n  }\n}];\n"
      },
      "id": "4cf66607-1c7f-4e19-b398-6f7f825b04ba",
      "name": "Salvar Payment ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2272,
        5040
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.mensagem }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "7b99a081-7713-46cb-bbd2-a5deeee135f1",
      "name": "Enviar Link PIX Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2672,
        5040
      ],
      "webhookId": "1e0d9209-4b35-454e-b2a3-1cb828024a8f",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mercadopago-pix",
        "options": {}
      },
      "id": "6afa8e30-244e-4162-ba66-eb469683f256",
      "name": "Webhook Confirmação MP",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2512,
        4832
      ],
      "webhookId": "mercadopago-pix-confirmacao"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "pix-cond-status",
              "leftValue": "={{ $json.body?.data?.id ? 'has_id' : $json.action }}",
              "rightValue": "has_id",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8cd17754-38be-41c7-975d-2a2e1a8e1ee4",
      "name": "Verificar Pagamento Aprovado",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2736,
        4832
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.mercadopago.com/v1/payments/' + $json.body.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "de3f3926-8b56-483c-a63f-82053103f4e7",
      "name": "Consultar Status Pagamento MP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2960,
        4832
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "7Dwmt6y505akvjC0",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "pix-cond-approved",
              "leftValue": "={{ $json.status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0407d69e-30a5-4faa-a66c-9de992f7c7b9",
      "name": "Se Status Approved",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3200,
        4832
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.external_reference }}",
        "text": "✅ *Pagamento aprovado!*\n\nSeu pedido foi confirmado e já está sendo preparado. Obrigado! 🎉",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "35bc03bd-fbbe-4eeb-8dc4-1d75a3a9957a",
      "name": "Confirmar Pagamento Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3424,
        4832
      ],
      "webhookId": "447f02c4-4f69-4ea2-a19c-2e2cd2b9753a",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Pagamento PIX – Mercado Pago\n\n**Fluxo:**\n1. Calcular Total PIX → calcula valor do pedido\n2. Criar Pagamento PIX MP → chama API do Mercado Pago\n3. Salvar Payment ID → guarda dados no static data\n4. Enviar Link PIX Telegram → envia link + copia e cola\n\n**Webhook separado (linha do lado):**\n5. Webhook Confirmação MP → recebe notificação\n6. Verificar / Consultar → valida pagamento\n7. Confirmar Pagamento Telegram → avisa o usuário\n\n⚠️ Crie a credencial **Mercado Pago Token** em:\nSettings → Credentials → HTTP Header Auth\nHeader: `Authorization`, Value: `Bearer SEU_ACCESS_TOKEN`\n\nConfigure o webhook no painel MP:\n`/webhook/mercadopago-pix`",
        "height": 648,
        "width": 1024,
        "color": 4
      },
      "id": "274c8eba-1434-4d67-8610-a91c826448d4",
      "name": "Sticky Note PIX",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        4544
      ]
    },
    {
      "parameters": {
        "jsCode": "const url = $input.first().json.ticketUrl.replace(/&/g, '%26');\nconst total = $input.first().json.total;\n\nreturn [{\n  json: {\n    mensagem: `Pagamento PIX gerado!\\n\\nValor: R$ ${total}\\n\\nLink para pagar:\\n${url}\\n\\nApos o pagamento voce recebera a confirmacao!`,\n    chatId: $input.first().json.userId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        5040
      ],
      "id": "4ab531e0-9848-43e8-baeb-899846a8b9e2",
      "name": "Preparar Mensagem Pix"
    },
    {
      "parameters": {
        "content": "## CONFIRMAÇÃO PAGAMENTO\n",
        "height": 272,
        "width": 1392,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2432,
        4752
      ],
      "id": "04913153-4d2f-4bdf-83e7-3f459963cf85",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "<b>Ficamos felizes</b> que queira conhecer mais sobre nosso estabelecimento.\n\nQual das seguintes informações gostaria de saber sobre nossa unidade?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Localização",
                    "additionalFields": {
                      "callback_data": "saberLocalizacao"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Horários",
                    "additionalFields": {
                      "callback_data": "saberHorarios"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Estrutura",
                    "additionalFields": {
                      "callback_data": "saberEstrutura"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "← Voltar",
                    "additionalFields": {
                      "callback_data": "voltaInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        2656
      ],
      "id": "117b3621-9abb-4ee8-af02-35c70535f4b0",
      "name": "Opcoes Sobre Unidade",
      "webhookId": "a4d85382-903d-4778-9460-abcad88713bf",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## MENU SOBRE UNIDADE\nVai apresentar as opções de informações que o cliente pode obter sobre a unidade.\n**Trabalha com os seguintes callbacks:**\n--saberLocalizacao\n--saberHorarios\n--saberEstrutura\n--voltarInicio",
        "height": 304,
        "width": 416,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        2528
      ],
      "id": "534d88a5-5cab-4b21-b162-ba8f6b1391eb",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## MENU SOBRE UNIDADE\nVai separar o fluxo entre as opções de conhecer mais sobre a unidade, Localização, Horários e Estrutura\n**Trabalha com os seguintes callbacks:**\n--saberLocalizacao\n--saberHorarios\n--saberEstrutura\n",
        "height": 480,
        "width": 416,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        5184
      ],
      "id": "1d413d13-d23f-4833-b9c3-d33e26b1b726",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "<b>📍 Como chegar ao Maṭʿam</b>\n\nEstamos localizados na:\n\n📌 Rua das Esfihas, 123 - Centro\n\n🗺️ <a href=\"https://maps.google.com\">Abrir no Google Maps</a>\n\nSerá um prazer receber você! 🧆✨",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "← Voltar",
                    "additionalFields": {
                      "callback_data": "unidade"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Início",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1232,
        5328
      ],
      "id": "1b538f34-a114-4b54-bbb7-49965087ee1d",
      "name": "Sobre Localizacao",
      "webhookId": "a4d85382-903d-4778-9460-abcad88713bf",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## MENU SOBRE LOCALIZAÇÃO\nInforma a localização do estabelecimento e fornece link e botão de voltar e ir ao início\n**Trabalha com os seguintes callbacks:**\n--unidade\n--voltarInicio\n",
        "height": 272,
        "width": 416,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        5200
      ],
      "id": "6ff0a411-036b-4235-9c95-bea19dca4de0",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "<b>🕒 Horários de Funcionamento — Maṭʿam</b>\n\n📅 Seg a Sáb: 11h às 23h\n📅 Dom: 12h às 18h\n\nEsperamos por você! 🧆✨",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "← Voltar",
                    "additionalFields": {
                      "callback_data": "unidade"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Início",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1680,
        5408
      ],
      "id": "51461637-b110-41a0-b3db-8657e054a779",
      "name": "Sobre Horário",
      "webhookId": "a4d85382-903d-4778-9460-abcad88713bf",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "<b>✨ Estrutura do Maṭʿam</b>\n\n👧 Espaço Kids\n\n🅿️ Estacionamento Grátis\n\n♿ Acessibilidade\n\nTudo pensado para o seu conforto e da sua família 🧆",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "← Voltar",
                    "additionalFields": {
                      "callback_data": "unidade"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Início",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1264,
        5616
      ],
      "id": "abbe5c23-b065-48a0-9b68-5cee02ca41eb",
      "name": "Sobre Estrutura",
      "webhookId": "a4d85382-903d-4778-9460-abcad88713bf",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## MENU SOBRE HORÁRIO\nInforma sobre os horários do estabelecimento. Tem um botão para voltar e para ir para o início\n**Trabalha com os seguintes callbacks:**\n--unidade\n--voltarInicio\n",
        "height": 272,
        "width": 416,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1536,
        5296
      ],
      "id": "104e6f7c-d486-4981-b303-3c96d729e602",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## MENU SOBRE ESTRUTURA\nInforma sobre a estrutura do estabelecimento. Tem um botão voltar e para ir ao início\n**Trabalha com os seguintes callbacks:**\n--unidade\n--voltarInicio\n",
        "height": 272,
        "width": 416,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1088,
        5488
      ],
      "id": "67ed9421-b02d-4fc2-af3c-e14e97b50185",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "=<b>✅ Pedido Concluído!</b>  \n<b>🧾 Itens do pedido:</b> \n{{ $json.itens.join('\\n') }}  \n<b>💵 Total: {{ $json.totalFormatado }}</b> \n\n🏪 Seu pedido será preparado para retirada. Aguarde a confirmação da loja!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        4880
      ],
      "id": "1409e7f4-7a32-4ed6-b438-354064b2bf31",
      "name": "Amostra Pedido",
      "webhookId": "2a978636-35b2-4313-87f6-9004db8c33e5",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst userId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\nconst precos = {\n  'Homus': 18.00,\n  'Quibe Cru': 22.00,\n  'Tabule': 16.00,\n  'Kafta': 45.00,\n  'Charuto': 42.00,\n  'Cordeiro': 65.00\n};\nconst precoEsfiha = 8.00;\nconst precoQuibeAssado = 10.00;\n\nlet total = 0;\nconst pedidos = bancoDados.usuario[userId]?.pedidos || [];\nconst linhasItens = [];\n\nfor (const pedido of pedidos) {\n  const entradas = pedido['Entrada']\n    ? (Array.isArray(pedido['Entrada']) ? pedido['Entrada'] : pedido['Entrada'].split(',').map(s => s.trim()))\n    : [];\n  for (const e of entradas) {\n    const preco = precos[e] || 0;\n    total += preco;\n    if (preco > 0) linhasItens.push(`${e}: R$ ${preco.toFixed(2)}`);\n  }\n\n  const qtdEsfiha = Number(pedido['Gostaria de quantas Esfihas?']) || 0;\n  if (qtdEsfiha > 0) {\n    const v = qtdEsfiha * precoEsfiha;\n    total += v;\n    linhasItens.push(`Esfihas (${qtdEsfiha}x): R$ ${v.toFixed(2)}`);\n  }\n\n  const qtdQuibe = Number(pedido['Gostaria de quantos Quibes Assados?']) || 0;\n  if (qtdQuibe > 0) {\n    const v = qtdQuibe * precoQuibeAssado;\n    total += v;\n    linhasItens.push(`Quibes Assados (${qtdQuibe}x): R$ ${v.toFixed(2)}`);\n  }\n\n  const pratos = pedido['Pratos (selecione ao menos 1)']\n    ? (Array.isArray(pedido['Pratos (selecione ao menos 1)']) ? pedido['Pratos (selecione ao menos 1)'] : pedido['Pratos (selecione ao menos 1)'].split(',').map(s => s.trim()))\n    : [];\n  for (const p of pratos) {\n    const preco = precos[p] || 0;\n    total += preco;\n    if (preco > 0) linhasItens.push(`${p}: R$ ${preco.toFixed(2)}`);\n  }\n}\n\nbancoDados.usuario[userId].totalPedido = total;\n\nreturn [{ json: { userId, total, totalFormatado: `R$ ${total.toFixed(2)}`, itens: linhasItens } }];"
      },
      "id": "af338d02-5b96-435f-bb73-3f59b41e79be",
      "name": "Calcular Total",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        4880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "041eac5d-49a8-4348-a85c-fca6635e4a61",
              "leftValue": "={{ $json.promocaoAtiva }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        992,
        4256
      ],
      "id": "e280f94c-eb5e-484e-8d6c-a1fe31ba8336",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\n\nreturn bancoDados"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        4256
      ],
      "id": "156ef169-f483-4e32-826f-028a81d74995",
      "name": "Retornar Banco"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1568,
        4240
      ],
      "id": "7f5f226a-b25d-453d-8147-e22e29a23fe8",
      "name": "Send a document",
      "webhookId": "28d7abf8-3218-4bb5-8978-fca26a7edaaf",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "<b>Qual ação gostaria de tomar ?</b>",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Acompanhar Pedidos",
                    "additionalFields": {
                      "callback_data": "acompanhar"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Voltar ao Início",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1664,
        4928
      ],
      "id": "36c7624d-46c7-46bc-8331-056b83e6ef47",
      "name": "Proxima Acao",
      "webhookId": "91a95d37-fa55-4a91-9b2a-b908fb813eeb",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Ação Pós Pedido\nVai perguntar se o usuário gostaria de acompanhar a entrega ou voltar ao início.\n**Trabalha com os seguintes callbacks:**\n--acompanhar\n--voltarInicio",
        "height": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1552,
        4768
      ],
      "id": "7221a913-e6ee-4278-8db9-fca8dfebd429",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "17Umc5_Ha2wc24za8h_e1iBrqOrpQxjdt",
          "mode": "list",
          "cachedResultName": "Matam_Catalogo_Premium.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/17Umc5_Ha2wc24za8h_e1iBrqOrpQxjdt/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1408,
        4240
      ],
      "id": "9ae78d27-6e68-443c-af8b-48a2580ba73a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yxRJELfgtgEQLCf3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# EM ALGUNS CASOS RODAR COMO TESTE UNITÁRIO FUNCIONA (PRINCIAPLEMNTE SE NÃO DEPENDER  DO NOSSO SISTEMA DE SAVLAR DADOS LOCAIS)",
        "height": 272,
        "width": 928,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        2032
      ],
      "id": "4083dc7c-59f8-40fb-8659-6cd92b407848",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "={{\n`🍴 Gostaria de realizar um pedido agora ou deseja conhecer outras opções do nosso cardápio?`\n}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "SIM, desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "NÃO, não desejo realizar um pedido",
                    "additionalFields": {
                      "callback_data": "voltarCardapio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1776,
        4240
      ],
      "id": "cc36ba89-f3d2-4ed2-91f3-a29feb9faeba",
      "name": "Confirmacao Realizar",
      "webhookId": "faabc4f8-61fe-4e9e-8657-90c5705cd682",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## CONFIRMAR RESERVAR MESA\nPergunta ao usuário se ele realmente deseja reservar uma mesa.\n**Trabalha com os seguintes callbacks:**\n--reservarMesa\n--voltarInicio",
        "height": 320,
        "width": 416,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1056,
        2576
      ],
      "id": "1b8b2913-e887-4582-870c-eb1514910ee5",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "<b>Gostaria de reservar uma mesa conosco ?</b>",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Sim",
                    "additionalFields": {
                      "callback_data": "reservarMesa"
                    }
                  },
                  {
                    "text": "Não",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        2720
      ],
      "id": "e09f8f9b-6828-455f-82c0-ef5533567076",
      "name": "Confirmar Desejo Reservar",
      "webhookId": "cd1c2f90-ab4e-42a1-a7d9-def411d39b8b",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## MENU RESERVAR MESA\nVai separar o fluxo da reserva de mesa entre ...\n**Trabalha com os seguintes callbacks:**\n--reservarMesa\n--finalizar",
        "height": 320,
        "width": 416,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        768,
        5840
      ],
      "id": "57273508-0034-41d8-bde6-a5799283daf6",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "saberLocalizacao",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "89a73e59-f611-4db0-a3f1-e022a4effc88"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Localização"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5601e579-17b9-4036-933b-63a3af66a47e",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "saberHorarios",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Horário"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aa6f0945-d264-4b8c-96b1-aef21ca7e0ac",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "saberEstrutura",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Estrutura"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        752,
        5408
      ],
      "id": "0c088c40-5e4a-42a1-b167-27dd7769a164",
      "name": " Switch Unidade"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "reservarMesa",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "89a73e59-f611-4db0-a3f1-e022a4effc88"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reservar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0dd70911-9bbc-48ca-a068-4c98ca97d6a2",
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "finalizar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Finalizar"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        912,
        5984
      ],
      "id": "df23bb75-224a-4c14-9612-232b8a54f0a9",
      "name": "Switch Reservar"
    },
    {
      "parameters": {
        "jsCode": "const db = $getWorkflowStaticData('global');\n\n// Inicializa mesas apenas se ainda não existirem\nif (!db.mesas) {\n  db.mesas = [\n    { id: 1, capacidade: 2, tipo: 'Salão principal', reservas: [] },\n    { id: 2, capacidade: 2, tipo: 'Varanda',         reservas: [] },\n    { id: 3, capacidade: 4, tipo: 'Salão principal', reservas: [] },\n    { id: 4, capacidade: 4, tipo: 'Salão principal', reservas: [] },\n    { id: 5, capacidade: 4, tipo: 'Jardim interno',  reservas: [] },\n    { id: 6, capacidade: 6, tipo: 'Salão VIP',       reservas: [] },\n    { id: 7, capacidade: 6, tipo: 'Jardim interno',  reservas: [] },\n    { id: 8, capacidade: 8, tipo: 'Salão VIP',       reservas: [] }\n  ];\n}\n\nconst userId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\nreturn [{ json: { ok: true, userId } }];\n"
      },
      "id": "f587460a-ae70-4dab-bd51-ca2e809cefbe",
      "name": "Inicializar Mesas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        5984
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Inicializar Mesas').item.json.userId }}",
        "text": "=<b>🍽️ Reserva de Mesa</b>\n\nAcesse o link abaixo para escolher sua mesa, data e horário:\n\nhttps://reservachatbotfmi.netlify.app?userId={{ $('Inicializar Mesas').item.json.userId }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "e1fdac96-1560-4cd3-9797-b43508da9f39",
      "name": "Enviar Link Reserva",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1504,
        5984
      ],
      "webhookId": "f39a0485-065a-4786-aa23-6f3fb9dd0121",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "path": "reserva-mesas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f2e1c478-884a-4874-9645-b686679fc546",
      "name": "Webhook Listar Mesas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1728,
        5904
      ],
      "webhookId": "reserva-mesas"
    },
    {
      "parameters": {
        "jsCode": "const db = $getWorkflowStaticData('global');\nconst { data, hora, pessoas } = $input.first().json.query;\n\nif (!db.mesas) {\n  db.mesas = [\n    { id: 1, capacidade: 2, tipo: 'Salão principal', reservas: [] },\n    { id: 2, capacidade: 2, tipo: 'Varanda',         reservas: [] },\n    { id: 3, capacidade: 4, tipo: 'Salão principal', reservas: [] },\n    { id: 4, capacidade: 4, tipo: 'Salão principal', reservas: [] },\n    { id: 5, capacidade: 4, tipo: 'Jardim interno',  reservas: [] },\n    { id: 6, capacidade: 6, tipo: 'Salão VIP',       reservas: [] },\n    { id: 7, capacidade: 6, tipo: 'Jardim interno',  reservas: [] },\n    { id: 8, capacidade: 8, tipo: 'Salão VIP',       reservas: [] }\n  ];\n}\n\nconst mesas = db.mesas.map(mesa => {\n  const ocupada = mesa.reservas.some(r => r.data === data && r.hora === hora);\n  return {\n    id: mesa.id,\n    capacidade: mesa.capacidade,\n    tipo: mesa.tipo,\n    ocupada\n  };\n});\n\nreturn [{ json: { mesas } }];\n"
      },
      "id": "e71dff54-7cfe-4d07-ad48-ff4703b65855",
      "name": "Processar Disponibilidade",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        5904
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ mesas: $json.mesas }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "6ddb6999-de42-409d-886f-c4559ad0ae19",
      "name": "Responder Mesas",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2176,
        5904
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "reserva-criar",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "da3880e0-e17a-46b8-bdd9-44e9e74552c6",
      "name": "Webhook Criar Reserva",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1728,
        6064
      ],
      "webhookId": "reserva-criar"
    },
    {
      "parameters": {
        "jsCode": "const db = $getWorkflowStaticData('global');\nconst body = $input.first().json.body;\nconst { mesaId, data, hora, pessoas, userId } = body;\n\n// Encontrar a mesa\nconst mesa = (db.mesas || []).find(m => m.id == mesaId);\n\nif (!mesa) {\n  return [{ json: { sucesso: false, mensagem: 'Mesa não encontrada.' } }];\n}\n\n// Checar conflito\nconst conflito = mesa.reservas.some(r => r.data === data && r.hora === hora);\nif (conflito) {\n  return [{ json: { sucesso: false, mensagem: 'Mesa já reservada neste horário.' } }];\n}\n\n// Registrar\nmesa.reservas.push({ data, hora, pessoas, userId, criadoEm: new Date().toISOString() });\n\nreturn [{ json: { sucesso: true, mesaId, data, hora, pessoas, userId } }];\n"
      },
      "id": "61232309-58b5-4a16-a6b9-ef9381ce9131",
      "name": "Registrar Reserva",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        6064
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "648a3413-578b-40a6-af6d-e8f39a0e6525",
      "name": "Responder Reserva",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2176,
        6064
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Responder Reserva').item.json.userId }}",
        "text": "={{ $('Responder Reserva').item.json.sucesso ? '<b>✅ Reserva confirmada!</b>\\n\\n🍽️ Mesa ' + $('Responder Reserva').item.json.mesaId + '\\n📅 Data: ' + $('Responder Reserva').item.json.data + '\\n🕐 Horário: ' + $('Responder Reserva').item.json.hora + '\\n👥 Pessoas: ' + $('Responder Reserva').item.json.pessoas + '\\n\\nTe esperamos! 🌙' + '\\n\\n\\n<b>Deseja Algo mais ?</b>' : ''}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Sim, desejo algo mais",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Não, finalizar sessão",
                    "additionalFields": {
                      "callback_data": "finalizar"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "d1c1920a-21cd-4e85-b951-aacc31383441",
      "name": "Notificar Reserva Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2784,
        6064
      ],
      "webhookId": "f99c7d6a-4228-4dd6-bc5d-53df13caf21b",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "path": "reserva-pagina",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ec36007b-6f2c-41cf-af48-6a8c3a11e187",
      "name": "Webhook Página Reserva",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1728,
        6224
      ],
      "webhookId": "reserva-pagina"
    },
    {
      "parameters": {
        "content": "## Sistema de Reserva de Mesas\n\n**Fluxo Telegram:**\nSwitch Reservar → Inicializar Mesas → Enviar Link Reserva\n\n**Webhooks independentes:**\n- GET  `/webhook/reserva-mesas` → lista mesas disponíveis\n- POST `/webhook/reserva-criar` → registra reserva\n- GET  `/webhook/reserva-pagina` → redireciona para o HTML\n\n**Trabalha com os seguintes callbacks:**\n--voltarInicio\n--finalizar",
        "height": 724,
        "width": 1660,
        "color": 7
      },
      "id": "ff069743-ed05-44ef-966b-91428d816dbc",
      "name": "Sticky Note Reservas",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1568,
        5664
      ]
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.userId}}",
        "message": "Antes de finalizarmos a reserva, por favor nos informe seus dados:\n",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nome do Reservante: ",
              "placeholder": "José Adalberto",
              "requiredField": true
            },
            {
              "fieldLabel": "E-mail do reservante: ",
              "fieldType": "email",
              "placeholder": "exemplo@email.com",
              "requiredField": true
            }
          ]
        },
        "options": {
          "messageButtonLabel": "Informar Dados",
          "responseFormTitle": "Informações do Cliente",
          "responseFormDescription": "Preencha os campos com os dados do reservante para que a reserva seja confirmada",
          "responseFormButtonLabel": "Enviar",
          "responseFormCustomCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #262626;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #F5F5F5;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2384,
        6064
      ],
      "id": "9e87610d-f3ef-437a-b3c3-bb1d0c10bf0b",
      "name": "Formulario Dados",
      "webhookId": "497b0a6f-b4be-473e-9e52-da3f684a56cc",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\n\nconst clientId = $('Responder Reserva').first().json.userId;\n\n\nbancoDados.usuario[clientId].nomeCliente=$input.first().json.data['Nome do Reservante: '];\n\nbancoDados.usuario[clientId].emailCliente=$input.first().json.data['E-mail do reservante: '];\n\nreturn bancoDados;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2592,
        6064
      ],
      "id": "cd04d4b4-17fe-47d2-b167-20c344973776",
      "name": "Registrar Reservante"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "={{'<b>Muito Obrigado por pedir conosco</b>'\n+ '\\n\\n Estaremos sempre a disposição, um ótimo dia !'}}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        6160
      ],
      "id": "df7d366f-3309-4f29-af83-83a16e59343f",
      "name": "Finalizar Sessão",
      "webhookId": "58db9737-3f81-4458-9ebe-01f79fa1ef1a",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "text": "=<b>Realmente deseja realizar um chamado ?</b>",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Sim",
                    "additionalFields": {
                      "callback_data": "chamado"
                    }
                  },
                  {
                    "text": "Não",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        3312
      ],
      "id": "2064c763-be5b-45bc-bd9c-34cd46e1e4a9",
      "name": "Confirmar Desejo Chamado",
      "webhookId": "cd1c2f90-ab4e-42a1-a7d9-def411d39b8b",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## SUPORTE\nVai confirmar se o cliente deseja contatar o suporte.\n**Trabalha com os seguintes callbacks:**\n--chamado\n--voltarInicio",
        "height": 288,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        3184
      ],
      "id": "05c37596-44db-4724-873e-4499efb00e3e",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query.data }}",
                    "rightValue": "chamado",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6f53ed0c-8d76-49fe-a2fd-bb81242c4b35"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Chamado"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1072,
        6528
      ],
      "id": "2426c30e-7090-4c17-80de-75fa4cf4cd57",
      "name": "Switch Suporte"
    },
    {
      "parameters": {
        "content": "## MENU DE SUPORTE\nVai separar o fluxo do suporte.",
        "height": 352,
        "width": 432,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        6368
      ],
      "id": "10ce4e2b-a327-493f-8106-9178fb808b9a",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "message": "Antes de contatarmos o suporte, por favor nos informe sobre o problema no formulário abaixo: ",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Seu Nome: ",
              "placeholder": "Maria Antonieta",
              "requiredField": true
            },
            {
              "fieldLabel": "Qual o tópico do problema ?",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Pedido"
                  },
                  {
                    "option": "Acompanhar Pedido"
                  },
                  {
                    "option": "Reserva"
                  },
                  {
                    "option": "Dúvida"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Descreva um pouco sobre o problema: ",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Dia do Ocorrido: ",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldName": "ChatId",
              "fieldType": "hiddenField",
              "fieldValue": "={{ $json.callback_query.message.chat.id }}"
            }
          ]
        },
        "options": {
          "messageButtonLabel": "Informe seu Problema",
          "responseFormTitle": "Formulário de Suporte",
          "responseFormDescription": "Preencha os campos para podermos te ajudar com mais assertividade.",
          "responseFormButtonLabel": "Enviar",
          "responseFormCustomCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #262626;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #F5F5F5;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        6528
      ],
      "id": "ad60469d-95e3-48ba-acbe-362666566c78",
      "name": "Formulario Suporte",
      "webhookId": "497b0a6f-b4be-473e-9e52-da3f684a56cc",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "adm-cond-01",
              "leftValue": "={{ $json.message.from.id }}",
              "rightValue": 6679062640,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1072,
        2240
      ],
      "id": "8ab70101-e707-422d-b019-88c9b4db3798",
      "name": "IF Atendente Admin"
    },
    {
      "parameters": {
        "jsCode": "\nconst texto = $('Telegram Trigger').first().json.message?.text ?? '';\nconst senderId = String($('Telegram Trigger').first().json.message?.from?.id ?? '');\nconst senderUsername = $('Telegram Trigger').first().json.message?.from?.username ?? '';\nconst senderName = $('Telegram Trigger').first().json.message?.from?.first_name ?? 'Atendente';\n\nconst partes = texto.trim().split(/\\s+/);\nconst comando = partes[0].toLowerCase();\nconst args = partes.slice(1);\n\nreturn [{ json: { comando, args, senderId, senderUsername, senderName, textoCompleto: texto } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        1040
      ],
      "id": "c2a86461-7b69-49d3-9614-2c64052d3725",
      "name": "Router Comando Admin"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sw-c01",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "/pedido",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CriarPedido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sw-c02",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "/pedido_consultar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ConsultarPedido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sw-c03",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "/pedido_atualizar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AtualizarPedido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sw-c04",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "/pedido_cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CancelarPedido"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sw-c05",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "/mesa_consultar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ConsultarMesa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sw-c06",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "/mesa_disponiveis",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MesasDisponiveis"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sw-c07",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "/mesa_reservar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ReservarMesa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sw-c08",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "/mesa_cancelar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CancelarMesa"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sw-c09",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "/endereco_preencher",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PreencherEndereco"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "sw-c10",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "/endereco_consultar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ConsultarEndereco"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -240,
        544
      ],
      "id": "3cec8ba9-b000-485d-b03d-675b8512c52b",
      "name": "Switch Comando Admin"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// /pedido <userId> [entrada:Homus,QuibeCru,Tabule]\n//         [esfihas:<n>] [quibes:<n>]\n//         prato:Kafta,Charuto,Cordeiro\n//         [talheres:sim|nao] [obs:<texto livre>]\n//\n// CARDÁPIO:\n//   Entradas (opcional, máx 3):  Homus | QuibeCru | Tabule\n//   Salgados (obrigatório preencher, pode ser 0):\n//     esfihas:<n>   → número de Esfihas (R$8 cada)\n//     quibes:<n>    → número de Quibes Assados (R$10 cada)\n//   Pratos (obrigatório, ao menos 1): Kafta | Charuto | Cordeiro\n//   talheres: sim | nao (padrão: nao)\n//\n// Exemplos:\n//   /pedido 123456789 prato:Kafta,Charuto\n//   /pedido 123456789 entrada:Homus,Tabule esfihas:2 quibes:1 prato:Kafta obs:sem pimenta\n// ─────────────────────────────────────────────────────────────\nconst db = $getWorkflowStaticData('global');\nconst args = $json.args;\nconst senderId = $json.senderId;\n\nconst AJUDA = `📋 *Uso do /pedido:*\n\n/pedido <telegramId> [entrada:...] [esfihas:n] [quibes:n] prato:... [talheres:sim|nao] [obs:...]\n\n*Entradas* (opcional — escolha até 3):\n  Homus | QuibeCru | Tabule\n  Exemplo: entrada:Homus,Tabule\n\n*Salgados* (preencha mesmo que seja 0):\n  esfihas:<n>   ex: esfihas:2\n  quibes:<n>    ex: quibes:0\n\n*Pratos* (obrigatório, ao menos 1):\n  Kafta | Charuto | Cordeiro\n  Exemplo: prato:Kafta,Charuto\n\n*Talheres* (opcional):\n  talheres:sim | talheres:nao  (padrão: nao)\n\n*Observação* (opcional):\n  obs:sem pimenta\n\n🔎 *Exemplos completos:*\n/pedido 123456789 prato:Kafta\n/pedido 123456789 entrada:Homus esfihas:2 quibes:0 prato:Kafta,Cordeiro talheres:sim obs:sem sal`;\n\nif (args.length < 1) {\n  return [{ json: { sucesso: false, senderId, msg: `❌ Informe o Telegram ID do usuário.\\n\\n${AJUDA}` } }];\n}\n\nconst targetUserId = String(args[0]);\nconst resto = args.slice(1).join(' ');\n\n// ── parser de tokens chave:valor ──────────────────────────────\nconst tokenize = (str) => {\n  const result = {};\n  const regex = /(\\w+):([^\\s]+(?:\\s+[^\\w:]+)*)/g;\n  let m;\n  while ((m = regex.exec(str)) !== null) {\n    result[m[1].toLowerCase()] = m[2].trim();\n  }\n  return result;\n};\nconst tokens = tokenize(resto);\n\n// ── Entradas ──────────────────────────────────────────────────\nconst entradasValidas = ['homus', 'quibecru', 'tabule'];\nconst entradasLabel   = { homus: 'Homus', quibecru: 'Quibe Cru', tabule: 'Tabule' };\nconst entradasVazias  = ['nda', 'nada'];\nlet entradas = [];\nif (tokens.entrada) {\n  const entradasVazias = ['nda', 'nada'];\n  const candidatas = tokens.entrada.split(',').map(s => s.trim().toLowerCase());\n  if (candidatas.every(e => entradasVazias.includes(e))) {\n    entradas = [];\n  } else {\n    const invalidas = candidatas.filter(e => !entradasValidas.includes(e) && !entradasVazias.includes(e));\n    if (invalidas.length > 0) {\n      return [{ json: { sucesso: false, senderId,\n        msg: `❌ Entrada inválida: ${invalidas.join(', ')}\\nOpções: Homus | QuibeCru | Tabule | nada` } }];\n    }\n    entradas = candidatas.filter(e => !entradasVazias.includes(e)).map(e => entradasLabel[e]);\n  }\n}\n\n// ── Salgados ──────────────────────────────────────────────────\nconst qtdEsfihas   = tokens.esfihas  !== undefined ? parseInt(tokens.esfihas)  : undefined;\nconst qtdQuibes    = tokens.quibes   !== undefined ? parseInt(tokens.quibes)   : undefined;\n\nif (qtdEsfihas !== undefined && isNaN(qtdEsfihas)) {\n  return [{ json: { sucesso: false, senderId, msg: '❌ esfihas deve ser um número. Ex: esfihas:2' } }];\n}\nif (qtdQuibes !== undefined && isNaN(qtdQuibes)) {\n  return [{ json: { sucesso: false, senderId, msg: '❌ quibes deve ser um número. Ex: quibes:0' } }];\n}\n\n// ── Pratos (obrigatório ao menos 1) ──────────────────────────\nconst pratosValidos = ['kafta', 'charuto', 'cordeiro'];\nconst pratosLabel   = { kafta: 'Kafta', charuto: 'Charuto', cordeiro: 'Cordeiro' };\n\nif (!tokens.prato) {\n  return [{ json: { sucesso: false, senderId,\n    msg: `❌ Pratos são obrigatórios.\\n\\nUse prato:Kafta, prato:Kafta,Charuto etc.\\n\\n${AJUDA}` } }];\n}\nconst pratosCandidatos = tokens.prato.split(',').map(s => s.trim().toLowerCase());\nconst pratosInvalidos  = pratosCandidatos.filter(p => !pratosValidos.includes(p));\nif (pratosInvalidos.length > 0) {\n  return [{ json: { sucesso: false, senderId,\n    msg: `❌ Prato inválido: ${pratosInvalidos.join(', ')}\\nOpções: Kafta | Charuto | Cordeiro` } }];\n}\nconst pratos = pratosCandidatos.map(p => pratosLabel[p]);\n\n// ── Talheres ──────────────────────────────────────────────────\nconst talheresRaw = (tokens.talheres || 'nao').toLowerCase();\nconst talheres    = talheresRaw === 'sim' ? 'Sim' : 'Não';\n\n// ── Observação ────────────────────────────────────────────────\nconst obs = tokens.obs || '';\n\n// ── Persistir no storage ──────────────────────────────────────\nif (!db.usuario) db.usuario = {};\nif (!db.usuario[targetUserId]) {\n  db.usuario[targetUserId] = {\n    endereco: '', numeroPedidos: 0, pedidos: [],\n    pagamento: 'nenhum', nomeCliente: 'nenhum', emailCliente: ''\n  };\n}\n\nconst pedidoAdmin = {\n  'Entrada': entradas,\n  'Gostaria de quantas Esfihas?':     qtdEsfihas  !== undefined ? qtdEsfihas  : 0,\n  'Gostaria de quantos Quibes Assados?': qtdQuibes !== undefined ? qtdQuibes  : 0,\n  'Pratos (selecione ao menos 1)':    pratos,\n  'Gostaria de Talheres de Plástico ?': talheres,\n  observacoes:       obs,\n  criadoPorAtendente: senderId,\n  _status: 'em preparo',\n  criadoEm:          new Date().toISOString()\n};\n\nconst num = db.usuario[targetUserId].numeroPedidos;\ndb.usuario[targetUserId].pedidos[num] = pedidoAdmin;\ndb.usuario[targetUserId].numeroPedidos++;\n\n// ── Resumo para o atendente ───────────────────────────────────\nlet resumo = `✅ <b>Pedido #${num} criado!</b>\\n\\n`;\nresumo += `👤 Usuário: <code>${targetUserId}</code>\\n`;\nif (entradas.length > 0) resumo += `🥗 Entradas: ${entradas.join(', ')}\\n`;\nif ((qtdEsfihas ?? 0) > 0) resumo += `🥙 Esfihas: ${qtdEsfihas}x\\n`;\nif ((qtdQuibes  ?? 0) > 0) resumo += `🍖 Quibes Assados: ${qtdQuibes}x\\n`;\nresumo += `🍽️ Pratos: ${pratos.join(', ')}\\n`;\nresumo += `🥄 Talheres: ${talheres}\\n`;\nif (obs) resumo += `📝 Obs: ${obs}\\n`;\nresumo += `📊 Status: preparando`;\n\nreturn [{ json: { sucesso: true, senderId, msg: resumo } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "73dd008c-f8c0-4295-bd24-d61f0149d8a4",
      "name": "Admin Criar Pedido"
    },
    {
      "parameters": {
        "chatId": "={{ $json.senderId }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        0
      ],
      "id": "363f1fdd-a790-4759-8111-5bf1edaa56b1",
      "name": "Admin Resp Criar Pedido",
      "webhookId": "adm-wh-01",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// /pedido_consultar <userId>\nconst db = $getWorkflowStaticData('global');\nconst args = $json.args;\nconst senderId = $json.senderId;\n\nif (args.length < 1) {\n  return [{ json: { sucesso: false, senderId, msg: '❌ Uso: /pedido_consultar <telegramId>' } }];\n}\n\nconst targetUserId = String(args[0]);\nconst usuario = db.usuario?.[targetUserId];\n\nif (!usuario) {\n  return [{ json: { sucesso: false, senderId, msg: `❌ Usuário ${targetUserId} não encontrado no sistema.` } }];\n}\n\nconst pedidos = usuario.pedidos || [];\nif (pedidos.length === 0) {\n  return [{ json: { sucesso: true, senderId, msg: `📋 Usuário ${targetUserId} não possui pedidos.` } }];\n}\n\nlet texto = `📋 Pedidos do usuário ${targetUserId}:\\n`;\ntexto += `👤 Nome: ${usuario.nomeCliente || 'N/A'}\\n\\n`;\npedidos.forEach((p, i) => {\n  const itens = p['Pratos (selecione ao menos 1)'];\n  const itensStr = Array.isArray(itens) ? itens.join(', ') : itens;\n  const entrada = Array.isArray(p['Entrada']) ? p['Entrada'].join(', ') : (p['Entrada'] || '');\n  const status = p._status || 'sem status';\n  const criadoEm = p.criadoEm ? new Date(p.criadoEm).toLocaleString('pt-BR') : 'N/A';\n  texto += `🔢 Pedido #${i}:\\n`;\n  texto += `   Pratos: ${itensStr}\\n`;\n  if (entrada) texto += `   Entradas: ${entrada}\\n`;\n  texto += `   Status: ${status}\\n`;\n  if (p.observacoes) texto += `   Obs: ${p.observacoes}\\n`;\n  texto += '\\n';\n});\n\nreturn [{ json: { sucesso: true, senderId, msg: texto } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        192
      ],
      "id": "9e04262d-efe6-4a6b-a631-eb060ac6a4d9",
      "name": "Admin Consultar Pedido"
    },
    {
      "parameters": {
        "chatId": "={{ $json.senderId }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        240,
        192
      ],
      "id": "931e032d-9576-4732-b79f-217f1c440dcf",
      "name": "Admin Resp Consultar Pedido",
      "webhookId": "adm-wh-02",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// /pedido_atualizar <userId> <numero_pedido> <status>\n// Status: preparando | em_entrega | entregue\nconst db = $getWorkflowStaticData('global');\nconst args = $json.args;\nconst senderId = $json.senderId;\n\nif (args.length < 3) {\n  return [{ json: { sucesso: false, senderId, msg: '❌ Uso: /pedido_atualizar <telegramId> <numeroPedido> <status>\\n\\nStatus válidos: em preparo | a caminho | entregue\\n\\nExemplo: /pedido_atualizar 123456789 0 a caminho' } }];\n}\n\nconst targetUserId = String(args[0]);\nconst numPedido = parseInt(args[1]);\nconst novoStatus = args[2].toLowerCase();\nconst statusValidos = ['em_preparo', 'a_caminho', 'entregue'];\n\nif (!statusValidos.includes(novoStatus)) {\n  return [{ json: { sucesso: false, senderId, msg: `❌ Status inválido: \"${novoStatus}\"\\nStatus válidos: ${statusValidos.join(' | ')}` } }];\n}\nconst statusFormatado = novoStatus.replace(/_/g, ' ');\n\nconst usuario = db.usuario?.[targetUserId];\nif (!usuario) {\n  return [{ json: { sucesso: false, senderId, msg: `❌ Usuário ${targetUserId} não encontrado.` } }];\n}\n\nconst pedido = usuario.pedidos?.[numPedido];\nif (!pedido) {\n  return [{ json: { sucesso: false, senderId, msg: `❌ Pedido #${numPedido} não encontrado para o usuário ${targetUserId}.` } }];\n}\n\n// Atualiza status SEM apagar o pedido\npedido._status = statusFormatado;\npedido.atualizadoEm = new Date().toISOString();\npedido.atualizadoPor = senderId;\n\nconst emoji = { 'em preparo': '🔥', 'a caminho': '🚚', 'entregue': '✅' }[statusFormatado] || '📋';\nreturn [{ json: { sucesso: true, senderId, targetUserId, numPedido, novoStatus: statusFormatado, msg: `${emoji} Pedido #${numPedido} do usuário ${targetUserId} atualizado para: <b>${statusFormatado}</b>` } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        384
      ],
      "id": "9f84ec79-9863-4632-b4d1-3df533d833ac",
      "name": "Admin Atualizar Pedido"
    },
    {
      "parameters": {
        "chatId": "={{ $json.senderId }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        384
      ],
      "id": "57ef54bf-0fcd-4710-a42b-113fdd4643c9",
      "name": "Admin Resp Atualizar Pedido",
      "webhookId": "adm-wh-03",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// /pedido_cancelar <userId> <numeroPedido>\nconst db = $getWorkflowStaticData('global');\nconst args = $json.args;\nconst senderId = $json.senderId;\n\nif (args.length < 2) {\n  return [{ json: { sucesso: false, senderId, msg: '❌ Uso: /pedido_cancelar <telegramId> <numeroPedido>\\nExemplo: /pedido_cancelar 123456789 0' } }];\n}\n\nconst targetUserId = String(args[0]);\nconst numPedido = parseInt(args[1]);\nconst usuario = db.usuario?.[targetUserId];\n\nif (!usuario?.pedidos?.[numPedido]) {\n  return [{ json: { sucesso: false, senderId, msg: `❌ Pedido #${numPedido} não encontrado para o usuário ${targetUserId}.` } }];\n}\n\nusuario.pedidos[numPedido]._status = 'cancelado';\nusuario.pedidos[numPedido].canceladoEm = new Date().toISOString();\nusuario.pedidos[numPedido].canceladoPor = senderId;\n\nreturn [{ json: { sucesso: true, senderId, msg: `🚫 Pedido #${numPedido} do usuário ${targetUserId} marcado como <b>cancelado</b>.` } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        560
      ],
      "id": "d5813b72-48d6-4cb8-9957-a8aa28eaa06a",
      "name": "Admin Cancelar Pedido"
    },
    {
      "parameters": {
        "chatId": "={{ $json.senderId }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        560
      ],
      "id": "9b498fa1-1977-42fe-89be-1ed604520925",
      "name": "Admin Resp Cancelar Pedido",
      "webhookId": "adm-wh-04",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// /mesa_consultar <userId>\nconst db = $getWorkflowStaticData('global');\nconst args = $json.args;\nconst senderId = $json.senderId;\n\nif (args.length < 1) {\n  return [{ json: { sucesso: false, senderId, msg: '❌ Uso: /mesa_consultar <telegramId>' } }];\n}\n\nconst targetUserId = String(args[0]);\nconst mesas = db.mesas || [];\nconst reservasDoUsuario = [];\n\nmesas.forEach(mesa => {\n  mesa.reservas.forEach(reserva => {\n    if (String(reserva.userId) === targetUserId) {\n      reservasDoUsuario.push({ mesaId: mesa.id, tipo: mesa.tipo, capacidade: mesa.capacidade, ...reserva });\n    }\n  });\n});\n\nif (reservasDoUsuario.length === 0) {\n  return [{ json: { sucesso: true, senderId, msg: `📋 Usuário ${targetUserId} não possui reservas de mesa.` } }];\n}\n\nlet texto = `🍽️ Reservas do usuário ${targetUserId}:\\n\\n`;\nreservasDoUsuario.forEach((r, i) => {\n  texto += `📌 Reserva ${i + 1}:\\n`;\n  texto += `   Mesa #${r.mesaId} — ${r.tipo} (${r.capacidade} lugares)\\n`;\n  texto += `   📅 Data: ${r.data}\\n`;\n  texto += `   🕐 Hora: ${r.hora}\\n`;\n  texto += `   👥 Pessoas: ${r.pessoas}\\n\\n`;\n});\n\nreturn [{ json: { sucesso: true, senderId, msg: texto } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        736
      ],
      "id": "eb558acd-9fee-405d-ad58-81a0f861c8fa",
      "name": "Admin Consultar Mesa"
    },
    {
      "parameters": {
        "chatId": "={{ $json.senderId }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        736
      ],
      "id": "b811ec1d-eaa4-4579-8758-6cb3a4ea85d9",
      "name": "Admin Resp Consultar Mesa",
      "webhookId": "adm-wh-05",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// /mesa_disponiveis [data] [hora]\n// Sem args: lista todas as mesas com status geral\nconst db = $getWorkflowStaticData('global');\nconst args = $json.args;\nconst senderId = $json.senderId;\n\nif (!db.mesas) {\n  return [{ json: { sucesso: false, senderId, msg: '❌ Sistema de mesas ainda não inicializado. Aguarde algum usuário acessar o fluxo de reservas.' } }];\n}\n\nconst data = args[0] || null;\nconst hora = args[1] || null;\n\nlet texto = '🍽️ Mesas disponíveis:\\n\\n';\ndb.mesas.forEach(mesa => {\n  const ocupada = data && hora ? mesa.reservas.some(r => r.data === data && r.hora === hora) : false;\n  const qtdReservas = mesa.reservas.length;\n  const status = data && hora ? (ocupada ? '🔴 Ocupada' : '🟢 Livre') : `📅 ${qtdReservas} reserva(s)`;\n  texto += `Mesa #${mesa.id} — ${mesa.tipo} (${mesa.capacidade} lugares) — ${status}\\n`;\n});\n\nif (data && hora) {\n  texto = `🍽️ Disponibilidade para ${data} às ${hora}:\\n\\n` + texto.replace('Mesas disponíveis:\\n\\n', '');\n}\n\nreturn [{ json: { sucesso: true, senderId, msg: texto } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        912
      ],
      "id": "8a523efd-f88f-4fd2-aead-0d073a6f55c1",
      "name": "Admin Mesas Disponiveis"
    },
    {
      "parameters": {
        "chatId": "={{ $json.senderId }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        912
      ],
      "id": "d3bd5ef8-e1c7-4c59-93d2-438513a865c6",
      "name": "Admin Resp Mesas Disponiveis",
      "webhookId": "adm-wh-06",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// /mesa_reservar <userId> <mesaId> <data YYYY-MM-DD> <hora HH:MM> <pessoas>\nconst db = $getWorkflowStaticData('global');\nconst args = $json.args;\nconst senderId = $json.senderId;\n\nif (args.length < 5) {\n  return [{ json: { sucesso: false, senderId, msg: '❌ Uso: /mesa_reservar <telegramId> <mesaId> <data> <hora> <pessoas>\\nExemplo: /mesa_reservar 123456789 3 2025-12-25 19:00 4' } }];\n}\n\nconst [targetUserId, mesaIdStr, data, hora, pessoasStr] = args;\nconst mesaId = parseInt(mesaIdStr);\nconst pessoas = parseInt(pessoasStr);\n\nif (!db.mesas) {\n  return [{ json: { sucesso: false, senderId, msg: '❌ Sistema de mesas não inicializado.' } }];\n}\n\nconst mesa = db.mesas.find(m => m.id === mesaId);\nif (!mesa) {\n  return [{ json: { sucesso: false, senderId, msg: `❌ Mesa #${mesaId} não encontrada.` } }];\n}\n\nconst conflito = mesa.reservas.some(r => r.data === data && r.hora === hora);\nif (conflito) {\n  return [{ json: { sucesso: false, senderId, msg: `❌ Mesa #${mesaId} já está reservada em ${data} às ${hora}.` } }];\n}\n\nmesa.reservas.push({ data, hora, pessoas, userId: targetUserId, criadoEm: new Date().toISOString(), criadoPorAtendente: senderId });\n\nreturn [{ json: { sucesso: true, senderId, msg: `✅ Mesa #${mesaId} reservada!\\n\\n👤 Usuário: ${targetUserId}\\n🍽️ Mesa: #${mesaId} — ${mesa.tipo} (${mesa.capacidade} lugares)\\n📅 Data: ${data}\\n🕐 Hora: ${hora}\\n👥 Pessoas: ${pessoas}` } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        1072
      ],
      "id": "47d47500-3e4f-47b2-bd0e-31a81220a5fb",
      "name": "Admin Reservar Mesa"
    },
    {
      "parameters": {
        "chatId": "={{ $json.senderId }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        1072
      ],
      "id": "16556257-3278-4d94-a861-30c20859840f",
      "name": "Admin Resp Reservar Mesa",
      "webhookId": "adm-wh-07",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// /mesa_cancelar <userId> <mesaId> <data> <hora>\nconst db = $getWorkflowStaticData('global');\nconst args = $json.args;\nconst senderId = $json.senderId;\n\nif (args.length < 4) {\n  return [{ json: { sucesso: false, senderId, msg: '❌ Uso: /mesa_cancelar <telegramId> <mesaId> <data> <hora>\\nExemplo: /mesa_cancelar 123456789 3 2025-12-25 19:00' } }];\n}\n\nconst [targetUserId, mesaIdStr, data, hora] = args;\nconst mesaId = parseInt(mesaIdStr);\n\nif (!db.mesas) {\n  return [{ json: { sucesso: false, senderId, msg: '❌ Sistema de mesas não inicializado.' } }];\n}\n\nconst mesa = db.mesas.find(m => m.id === mesaId);\nif (!mesa) {\n  return [{ json: { sucesso: false, senderId, msg: `❌ Mesa #${mesaId} não encontrada.` } }];\n}\n\nconst idx = mesa.reservas.findIndex(r => String(r.userId) === String(targetUserId) && r.data === data && r.hora === hora);\nif (idx === -1) {\n  return [{ json: { sucesso: false, senderId, msg: `❌ Reserva não encontrada para o usuário ${targetUserId} na mesa #${mesaId} em ${data} às ${hora}.` } }];\n}\n\nmesa.reservas.splice(idx, 1);\nreturn [{ json: { sucesso: true, senderId, msg: `🗑️ Reserva cancelada com sucesso!\\n\\n👤 Usuário: ${targetUserId}\\n🍽️ Mesa: #${mesaId}\\n📅 Data: ${data}\\n🕐 Hora: ${hora}` } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        1232
      ],
      "id": "567382b6-7eb6-45f9-b0a4-eed82065dd40",
      "name": "Admin Cancelar Mesa"
    },
    {
      "parameters": {
        "chatId": "={{ $json.senderId }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        1232
      ],
      "id": "0f9267bf-0289-44d3-9fd5-361884d7e7cc",
      "name": "Admin Resp Cancelar Mesa",
      "webhookId": "adm-wh-08",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Router Comando Admin').item.json.senderId }}",
        "text": "={{ `⚠️ Comando não reconhecido.\n\n📋 <b>Comandos disponíveis:</b>\n\n<b>📦 Pedidos:</b>\n/pedido &lt;userId&gt; [entrada:Homus,QuibeCru,Tabule] [esfihas:n] [quibes:n] prato:Kafta,Charuto,Cordeiro [talheres:sim|nao] [obs:...]\n/pedido_consultar &lt;userId&gt;\n/pedido_atualizar &lt;userId&gt; &lt;nº&gt; preparando|em_entrega|entregue\n/pedido_cancelar &lt;userId&gt; &lt;nº&gt;\n\n<b>🍽️ Mesas:</b>\n/mesa_consultar &lt;userId&gt;\n/mesa_disponiveis [YYYY-MM-DD] [HH:MM]\n/mesa_reservar &lt;userId&gt; &lt;mesaId&gt; &lt;data&gt; &lt;hora&gt; &lt;pessoas&gt;\n/mesa_cancelar &lt;userId&gt; &lt;mesaId&gt; &lt;data&gt; &lt;hora&gt;\n\n<b>📍 Endereço:</b>\n/endereco_preencher &lt;userId&gt; &lt;endereço completo&gt;\n/endereco_consultar &lt;userId&gt;` }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        1728
      ],
      "id": "4ffd67f9-6119-4086-a0f7-e3771dcfe56e",
      "name": "Admin Fallback Comando",
      "webhookId": "adm-wh-09",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Gera ID único: CHM-YYYYMMDD-HHMMSS-RANDOM4\nconst bancoDados = $getWorkflowStaticData('global');\nconst now = new Date(new Date().toLocaleString('en-US', { timeZone: 'America/Sao_Paulo' }));\nconst pad = n => String(n).padStart(2, '0');\nconst username = $('Telegram Trigger').first().json.callback_query?.from?.username || '';\nconst datePart = `${now.getFullYear()}${pad(now.getMonth()+1)}${pad(now.getDate())}`;\nconst timePart = `${pad(now.getHours())}${pad(now.getMinutes())}${pad(now.getSeconds())}`;\nconst rand = Math.random().toString(36).substring(2, 6).toUpperCase();\nconst chamadoId = `CHM-${datePart}-${timePart}-${rand}`;\n\n// Extrair dados do formulário\nconst data = $input.first().json.data;\nconst chatId = $input.first().json.data?.ChatId || $('Telegram Trigger').first().json.callback_query?.message?.chat?.id || '';\n\nconst dataHora = `${now.toLocaleDateString('pt-BR')} ${now.toLocaleTimeString('pt-BR')}`;\n\nbancoDados.usuario[chatId].nomeCliente = $input.first().json.data['Seu Nome: '];\n\nreturn [{ json: {\n  chamadoId,\n  nome: data['Seu Nome: '] || '',\n  topico: data['Qual o tópico do problema ?'] || '',\n  descricao: data['Descreva um pouco sobre o problema: '] || '',\n  dataOcorrido: data['Dia do Ocorrido: '] || '',\n  chatId: String(chatId),\n  username: username,          // <-- adicionar isso\n  dataHoraAbertura: dataHora,\n  data\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        6528
      ],
      "id": "9f1f4064-8a6c-41d0-bbed-1fb42336fa33",
      "name": "Gerar ID Chamado"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1oW0fEzh7xI2hpUQH2F3KFcCwBKzGt2s4w1P1dGjxE_E",
          "mode": "list",
          "cachedResultName": "chamadosRestauranteFMI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oW0fEzh7xI2hpUQH2F3KFcCwBKzGt2s4w1P1dGjxE_E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Chamados",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oW0fEzh7xI2hpUQH2F3KFcCwBKzGt2s4w1P1dGjxE_E/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.chamadoId }}",
            "Data": "={{ $json.dataHoraAbertura }}",
            "Descrição": "={{ $json.descricao }}",
            "Problema": "={{ $json.topico }}",
            "Nome": "={{ $json.nome }}",
            "ID Usuário": "={{ $json.data.ChatId }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID Usuário",
              "displayName": "ID Usuário",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Problema",
              "displayName": "Problema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descrição",
              "displayName": "Descrição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Resolvido",
              "displayName": "Resolvido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1776,
        6528
      ],
      "id": "c4077134-a9b5-466a-b676-a78e17a04f5a",
      "name": "Salvar Chamado Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ghx4foA1RQWhHpnM",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\n// Pega o ID do atendente da lista de atendentes autorizados\nconst db = $getWorkflowStaticData('global');\nconst atendentes = db.atendentes || ['SEU_TELEGRAM_ID_AQUI'];\n// Por enquanto envia para o primeiro atendente da lista\nconst atendenteId = atendentes[0];\nreturn [{ json: { ...($input.first().json), atendenteId } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        6528
      ],
      "id": "b0c804b5-cc16-40f1-93e7-4f64897252f8",
      "name": "Selecionar Atendente"
    },
    {
      "parameters": {
        "chatId": "={{ $json.atendenteId }}",
        "text": "={{ \n'🚨 <b>NOVO CHAMADO DE SUPORTE</b> 🚨\\n\\n' +\n'🔑 ID do Chamado: ' + $json.ID + '\\n' +\n'👤 Nome: ' + $json.Nome + '\\n' +\n'📱 Telegram ID: ' + $json['ID Usuário'] + '\\n' +\n'⚠️ Tópico: ' + $json.Problema + '\\n' +\n'📝 Descrição: ' + $json['Descrição'] + '\\n' +\n'📅 Data do ocorrido: ' + $json.Data + '\\n' +\n'\\n\\n👉 Entre em contato: ' + ($('Gerar ID Chamado').item.json.username ? 'https://t.me/' + $('Gerar ID Chamado').item.json.username : '⚠️ Usuário sem username — contate pelo ID: ' + $json['ID Usuário'])\n}}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2192,
        6528
      ],
      "id": "3f18e9f9-633b-494a-a2ed-c3f7448c8651",
      "name": "Notificar Atendente Chamado",
      "webhookId": "adm-wh-10",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Selecionar Atendente').item.json['ID Usuário'] }}",
        "text": "={{ '✅ <b>Chamado aberto com sucesso!</b>\\n\\n🔑 Seu ID de chamado:' + $('Selecionar Atendente').item.json.ID + '\\n\\nUm atendente entrará em contato com você em breve pelo Telegram. Guarde o número do chamado para acompanhamento.' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2400,
        6528
      ],
      "id": "d770c6f5-555f-49b2-a5f6-c89f03bef6fe",
      "name": "Confirmar Chamado Usuario",
      "webhookId": "adm-wh-11",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "##  PORTÃO ADMINISTRATIVO | Fase de suporte\n\nEste IF intercepta ANTES do fluxo normal.\n\n**Lógica:**\n- Extrai senderId da mensagem\n- Verifica se está em `bancoDados.atendentes[]`\n- Verifica se a mensagem começa com comando válido\n\n**TRUE** → Fluxo Admin\n**FALSE** → Fluxo normal do usuário (Eh Mensagem)\n\n **CONFIGURE:** Adicione seu Telegram ID em:\n`bancoDados.atendentes = ['SEU_ID_AQUI']`\nvia Node Code ou variável global. ",
        "height": 400,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1824,
        2064
      ],
      "id": "0d8fb50f-8d79-4cf6-b3bd-69d2d0403788",
      "name": "Sticky Admin Gate"
    },
    {
      "parameters": {
        "content": "## FLUXO ADMINISTRATIVO\n\nAcesso restrito — somente atendentes cadastrados em `db.atendentes[]`.\nO portão **IF Atendente Admin** intercepta antes do fluxo normal do usuário.\n\n---\n\n###  PEDIDOS\n| Comando | Descrição |\n|---|---|\n| `/pedido <userId> [entrada:...] [esfihas:n] [quibes:n] prato:... [talheres:sim\\|nao] [obs:...]` | Cria pedido manualmente |\n| `/pedido_consultar <userId>` | Lista todos os pedidos do usuário |\n| `/pedido_atualizar <userId> <nº> <status>` | Atualiza status do pedido |\n| `/pedido_cancelar <userId> <nº>` | Marca pedido como cancelado |\n\n**Cardápio:**\n- Entradas *(opcional)*: `Homus` · `QuibeCru` · `Tabule`\n- Salgados *(preencher mesmo que 0)*: `esfihas:n` · `quibes:n`\n- Pratos *(obrigatório ≥1)*: `Kafta` · `Charuto` · `Cordeiro`\n\n**Status válidos:** `em_preparo` · `a_caminho` · `entregue`\n\n---\n\n###  MESAS\n| Comando | Descrição |\n|---|---|\n| `/mesa_consultar <userId>` | Reservas do usuário |\n| `/mesa_disponiveis [data] [hora]` | Mesas livres/ocupadas |\n| `/mesa_reservar <userId> <mesaId> <data> <hora> <pessoas>` | Reserva manual |\n| `/mesa_cancelar <userId> <mesaId> <data> <hora>` | Remove reserva |\n\n**Formato:** data `YYYY-MM-DD` · hora `HH:MM`\n\n---\n\n###  ENDEREÇO\n| Comando | Descrição |\n|---|---|\n| `/endereco_preencher <userId> <endereço completo>` | Salva/atualiza endereço |\n| `/endereco_consultar <userId>` | Consulta endereço cadastrado |\n\n---\n\n### 📋 SUPORTE\nFluxo automático após o usuário abrir chamado:\n1. Gera ID único `CHM-YYYYMMDD-HHMMSS-XXXX`\n2. Salva no Google Sheets (coluna ID + DataHoraAbertura)\n3. Notifica o atendente com link `tg://user?id=...`\n4. Confirma ao usuário com o ID do chamado\n\n---\n\n### ⚙️ CONFIGURAÇÃO\nTelegram IDs autorizados ficam em:\n`db.atendentes = ['ID_AQUI']`\nAtualmente configurado em: **Contador Global**",
        "height": 1100,
        "width": 720,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -992,
        416
      ],
      "id": "d8a0b0a6-9b8e-47b1-80ed-0b4996d1541c",
      "name": "FLUXO ADMINISTRATIVO"
    },
    {
      "parameters": {
        "content": "## FLUXO DE SUPORTE\n\nAlterações nesta seção:\n1. **Gerar ID Chamado** → ID único formato `CHM-YYYYMMDD-HHMMSS-XXXX`\n2. **Salvar Chamado Sheets** → Salva com coluna `ID` e `DataHoraAbertura`\n3. **Selecionar Atendente** → Pega `db.atendentes[0]` (extensível para lista)\n4. **Notificar Atendente** → Mensagem completa com link tg://\n5. **Confirmar ao Usuário** → Envia o ID do chamado de volta\n\n",
        "height": 352,
        "width": 640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1584,
        6704
      ],
      "id": "ed68e6bf-1bcf-4487-af8e-cbb36d880c7f",
      "name": "Sticky Suporte Melhorado"
    },
    {
      "parameters": {
        "jsCode": "// /endereco_preencher <userId> <endereco completo>\n// Exemplo: /endereco_preencher 123456789 Rua das Flores, 42, Apto 3 - Jardim América\nconst db = $getWorkflowStaticData('global');\nconst args = $json.args;\nconst senderId = $json.senderId;\n\nif (args.length < 2) {\n  return [{ json: { sucesso: false, senderId,\n    msg: '❌ Uso: /endereco_preencher <telegramId> <endereço completo>\\n\\nExemplo:\\n/endereco_preencher 123456789 Rua das Flores, 42, Apto 3 - Jardim América' } }];\n}\n\nconst targetUserId = String(args[0]);\nconst novoEndereco = args.slice(1).join(' ').trim();\n\nif (!novoEndereco) {\n  return [{ json: { sucesso: false, senderId, msg: '❌ O endereço não pode estar vazio.' } }];\n}\n\nif (!db.usuario) db.usuario = {};\nif (!db.usuario[targetUserId]) {\n  db.usuario[targetUserId] = {\n    endereco: '', numeroPedidos: 0, pedidos: [],\n    pagamento: 'nenhum', nomeCliente: 'nenhum', emailCliente: ''\n  };\n}\nconst e = db.usuario[targetUserId].endereco;\nconst enderecoAnterior = `${e.Rua}, ${e['Número']}${e.Complemento ? ' - ' + e.Complemento : ''} | CEP: ${e.CEP}`;\ndb.usuario[targetUserId].endereco = novoEndereco;\n\nreturn [{ json: {\n  sucesso: true, senderId, targetUserId,\n  msg: `✅ <b>Endereço atualizado!</b>\\n\\n👤 Usuário: <code>${targetUserId}</code>\\n\\n📍 Anterior: ${enderecoAnterior}\\n📍 Novo: ${novoEndereco}`\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        1392
      ],
      "id": "bb03ae76-5bc4-4118-9677-596e93b72e13",
      "name": "Admin Preencher Endereco"
    },
    {
      "parameters": {
        "chatId": "={{ $json.senderId }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        1392
      ],
      "id": "1de0d886-de44-4035-85a9-c70118e42f15",
      "name": "Admin Resp Preencher Endereco",
      "webhookId": "adm-wh-end-01",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// /endereco_consultar <userId>\nconst db = $getWorkflowStaticData('global');\nconst args = $json.args;\nconst senderId = $json.senderId;\n\nif (args.length < 1) {\n  return [{ json: { sucesso: false, senderId, msg: '❌ Uso: /endereco_consultar <telegramId>' } }];\n}\n\nconst targetUserId = String(args[0]);\nconst usuario = db.usuario?.[targetUserId];\n\nif (!usuario) {\n  return [{ json: { sucesso: false, senderId,\n    msg: `❌ Usuário <code>${targetUserId}</code> não encontrado no sistema.` } }];\n}\n\nconst e = usuario.endereco;\nconst endereco = `${e.Rua}, ${e['Número']}${e.Complemento ? ' - ' + e.Complemento : ''} | CEP: ${e.CEP}`;\nconst nome     = usuario.nomeCliente;\nconst emailCliente = usuario.emailCliente;\n\nreturn [{ json: {\n  sucesso: true, senderId,\n  msg: `📍 <b>Endereço do usuário</b>\\n\\n👤 Usuário: <code>${targetUserId}</code>\\n🧑 Nome: ${nome}\\n✉️ Email: ${emailCliente}\\n📍 Endereço: ${endereco}`\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        1568
      ],
      "id": "6cc7c68c-aa41-43ec-a326-95fcb6fba89c",
      "name": "Admin Consultar Endereco"
    },
    {
      "parameters": {
        "chatId": "={{ $json.senderId }}",
        "text": "={{ $json.msg }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        256,
        1568
      ],
      "id": "c4f45842-850b-4324-868c-a3e3848db6d7",
      "name": "Admin Resp Consultar Endereco",
      "webhookId": "adm-wh-end-02",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst userId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\nconst usuario = bancoDados.usuario?.[userId];\nconst todosPedidos = usuario?.pedidos || [];\n\n// Pedidos ativos = sem status, ou status diferente de 'finalizado' e 'cancelado' e 'entregue'\nconst pedidosAtivos = todosPedidos\n  .map((p, idx) => ({ ...p, _index: idx }))\n  .filter(p => {\n    const status = (p._status || '').toLowerCase();\n    return status !== 'finalizado' && status !== 'cancelado' && status !== 'entregue';\n  });\n\nreturn [{ json: { userId, pedidosAtivos, temPedidos: pedidosAtivos.length > 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        2944
      ],
      "id": "2b711e4d-6d32-4ea1-9278-de880d7ae62b",
      "name": "Verificar Pedidos Ativos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "acomp-cond-01",
              "leftValue": "={{ $json.temPedidos }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1024,
        2944
      ],
      "id": "632456a2-22db-467f-b64d-5957bf175433",
      "name": "IF Tem Pedidos Ativos"
    },
    {
      "parameters": {
        "jsCode": "const pedidosAtivos = $json.pedidosAtivos;\nconst userId = $json.userId;\n\nconst statusEmoji = (s) => {\n  const st = (s || 'pendente').toLowerCase();\n  if (st === 'em preparo') return '🔥';\n  if (st === 'a caminho') return '🚚';\n  if (st === 'pronto') return '✅';\n  return '⏳';\n};\n\nlet linhas = ['<b>🚚 Seus Pedidos Ativos</b>\\n'];\n\nfor (let i = 0; i < pedidosAtivos.length; i++) {\n  const p = pedidosAtivos[i];\n  const status = p._status || 'Pendente';\n  const emoji = statusEmoji(status);\n  const idx = i + 1;\n\n  linhas.push(`<b>📦 Pedido #${idx}</b>`);\n\n  // Itens do pedido\n  const entradas = p['Entrada']\n    ? (Array.isArray(p['Entrada']) ? p['Entrada'] : p['Entrada'].split(',').map(s => s.trim())).filter(Boolean)\n    : [];\n  if (entradas.length) linhas.push(`  • Entradas: ${entradas.join(', ')}`);\n\n  const qtdEsfiha = Number(p['Gostaria de quantas Esfihas?']) || 0;\n  if (qtdEsfiha > 0) linhas.push(`  • Esfihas: ${qtdEsfiha}x`);\n\n  const qtdQuibe = Number(p['Gostaria de quantos Quibes Assados?']) || 0;\n  if (qtdQuibe > 0) linhas.push(`  • Quibes Assados: ${qtdQuibe}x`);\n\n  const pratos = p['Pratos (selecione ao menos 1)']\n    ? (Array.isArray(p['Pratos (selecione ao menos 1)']) ? p['Pratos (selecione ao menos 1)'] : p['Pratos (selecione ao menos 1)'].split(',').map(s => s.trim())).filter(Boolean)\n    : [];\n  if (pratos.length) linhas.push(`  • Pratos: ${pratos.join(', ')}`);\n\n  linhas.push(`  ${emoji} <b>Status: ${status}</b>`);\n  linhas.push('');\n}\n\nconst mensagem = linhas.join('\\n');\nreturn [{ json: { userId, mensagem, pedidosAtivos } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        2912
      ],
      "id": "b387411d-eff9-4a66-b97f-7c251a5eebd8",
      "name": "Montar Mensagem Pedidos"
    },
    {
      "parameters": {
        "chatId": "={{ $json.userId }}",
        "text": "={{ $json.mensagem }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Marcar como Entregue",
                    "additionalFields": {
                      "callback_data": "acomp_marcarEntregue"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "🔄 Atualizar",
                    "additionalFields": {
                      "callback_data": "acompanhar"
                    }
                  },
                  {
                    "text": "← Voltar",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1568,
        2912
      ],
      "id": "047bee32-ca9c-4655-a574-54e63f555ec7",
      "name": "Exibir Pedidos Ativos",
      "webhookId": "acomp-tg-wh-01",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.userId }}",
        "text": "🔍 <b>Nenhum pedido ativo encontrado.</b>\n\nVocê não possui pedidos em andamento no momento.\n\nDeseja fazer um novo pedido?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "🛒 Fazer Pedido",
                    "additionalFields": {
                      "callback_data": "pedido"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "← Voltar ao Início",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        3104
      ],
      "id": "cfef30f4-d951-4fb4-8d37-9c9d2f910e83",
      "name": "Sem Pedidos Ativos",
      "webhookId": "acomp-tg-wh-02",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst userId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\nconst usuario = bancoDados.usuario?.[userId];\nconst todosPedidos = usuario?.pedidos || [];\n\nconst statusValidos = ['em preparo', 'a caminho', 'pronto', ''];  // '' = sem status = ativo\n\nconst pedidosAtivos = todosPedidos\n  .map((p, idx) => ({ ...p, _index: idx }))\n  .filter(p => {\n    const status = (p._status || '').toLowerCase();\n    return status !== 'finalizado' && status !== 'cancelado' && status !== 'entregue';\n  });\n\nif (pedidosAtivos.length === 0) {\n  return [{ json: { userId, temPedidos: false, mensagem: '🔍 Nenhum pedido ativo para marcar como entregue.' } }];\n}\n\n// Salva no static data: flag de aguardo e mapeamento numero->indice absoluto\nbancoDados.usuario[userId].aguardandoSelecao = true;\nbancoDados.usuario[userId].indicesPedidosAtivos = pedidosAtivos.map(p => p._index);\n\n// Monta a lista de pedidos para exibir\nconst linhas = ['<b>📦 Selecione o número do pedido que deseja marcar como entregue:</b>\\n'];\n\npedidosAtivos.forEach((p, i) => {\n  const num = i + 1;\n  const status = p._status || 'Pendente';\n  const pratos = p['Pratos (selecione ao menos 1)']\n    ? (Array.isArray(p['Pratos (selecione ao menos 1)'])\n        ? p['Pratos (selecione ao menos 1)']\n        : p['Pratos (selecione ao menos 1)'].split(',').map(s => s.trim())).filter(Boolean)\n    : [];\n  const resumo = pratos.length ? pratos.join(', ') : '(sem pratos)';\n  linhas.push(`<b>${num}.</b> ${resumo} — Status: <i>${status}</i>`);\n});\n\nlinhas.push('\\n⬇️ <b>Digite o número correspondente</b> (ex: <code>1</code>, <code>2</code>...)');\n\nreturn [{ json: { userId, temPedidos: true, mensagem: linhas.join('\\n') } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        3136
      ],
      "id": "0d4e71b9-f02b-4c03-98ef-3520fd04ddd5",
      "name": "Montar Botoes Selecionar Pedido"
    },
    {
      "parameters": {
        "chatId": "={{ $json.userId }}",
        "text": "={{ $json.mensagem }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1024,
        3136
      ],
      "id": "49ce7d9b-d0d4-4ae3-9437-a9d3f2dd99c3",
      "name": "Enviar Selecao Pedido",
      "webhookId": "acomp-tg-wh-03",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst callbackData = $('Telegram Trigger').first().json.callback_query.data;\nconst userId = $('Telegram Trigger').first().json.callback_query.message.chat.id;\n\n// Extrai o index do pedido do callback_data: \"acomp_confirmarEntrega_<index>\"\nconst match = callbackData.match(/acomp_confirmarEntrega_(\\d+)/);\nif (!match) {\n  return [{ json: { userId, sucesso: false, msg: '❌ Pedido não identificado.' } }];\n}\n\nconst pedidoIndex = parseInt(match[1], 10);\nconst usuario = bancoDados.usuario?.[userId];\n\nif (!usuario || !usuario.pedidos || !usuario.pedidos[pedidoIndex]) {\n  return [{ json: { userId, sucesso: false, msg: '❌ Pedido não encontrado.' } }];\n}\n\n// Atualiza o status\nbancoDados.usuario[userId].pedidos[pedidoIndex]._status = 'entregue';\nbancoDados.usuario[userId].pedidos[pedidoIndex]._dataEntrega = new Date().toISOString();\n\nconst pedido = bancoDados.usuario[userId].pedidos[pedidoIndex];\nconst pratos = pedido['Pratos (selecione ao menos 1)']\n  ? (Array.isArray(pedido['Pratos (selecione ao menos 1)'])\n      ? pedido['Pratos (selecione ao menos 1)']\n      : pedido['Pratos (selecione ao menos 1)'].split(',').map(s => s.trim())).filter(Boolean)\n  : [];\nconst resumo = pratos.length ? pratos.join(', ') : 'Pedido';\n\nreturn [{ json: {\n  userId,\n  sucesso: true,\n  msg: `✅ <b>Pedido marcado como entregue!</b>\\n\\n📦 Pedido: ${resumo}\\n🕐 Marcado em: ${new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' })}\\n\\nObrigado pela confirmação! 😊`\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        3296
      ],
      "id": "9e699dad-30ce-445a-9feb-b4be09de55bc",
      "name": "Marcar Pedido Entregue"
    },
    {
      "parameters": {
        "chatId": "={{ $json.userId }}",
        "text": "={{ $json.msg }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📋 Ver Pedidos",
                    "additionalFields": {
                      "callback_data": "acompanhar"
                    }
                  },
                  {
                    "text": "🏠 Início",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        3296
      ],
      "id": "39646d14-32f2-46f7-baba-6ae01ef899ec",
      "name": "Confirmar Entrega Telegram",
      "webhookId": "acomp-tg-wh-04",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## FLUXO ACOMPANHAR PEDIDO\n\nFluxo ativado pelo callback **acompanhar** e pelos callbacks dinâmicos.\n\n**Callbacks usados:**\n- `acompanhar` → entra no fluxo / botão Atualizar\n- `acomp_marcarEntregue` → abre seleção de pedido\n- `acomp_confirmarEntrega_<index>` → marca pedido específico como entregue\n- `voltarInicio` → volta ao menu principal\n\n**Nodes do fluxo:**\n1. Verificar Pedidos Ativos → busca pedidos sem status finalizado/cancelado/entregue\n2. IF Tem Pedidos Ativos → separa com/sem pedidos\n3. Montar Mensagem Pedidos → formata listagem visual\n4. Exibir Pedidos Ativos → envia com botões: Marcar Entregue, Atualizar, Voltar\n5. Sem Pedidos Ativos → avisa que não há pedidos ativos\n6. Montar Botoes Selecionar Pedido → gera botões dinâmicos por pedido\n7. Enviar Selecao Pedido → apresenta botões de seleção\n8. Marcar Pedido Entregue → atualiza _status = 'entregue' no static data\n9. Confirmar Entrega Telegram → confirma ao usuário",
        "height": 432,
        "width": 800,
        "color": "#B25001"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1520,
        3056
      ],
      "id": "c1bef997-5a64-477e-8685-22fc72219126",
      "name": "Sticky Acompanhar Pedido"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "sel-cond-01",
              "leftValue": "={{ $('Telegram Trigger').first().json.message.text }}",
              "rightValue": "^[0-9]$",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -624,
        2192
      ],
      "id": "fa60030f-3fd2-4278-8f71-8ae6063d9703",
      "name": "IF Eh Selecao Pedido"
    },
    {
      "parameters": {
        "jsCode": "const bancoDados = $getWorkflowStaticData('global');\nconst userId = $('Telegram Trigger').first().json.message.chat.id;\nconst texto = ($('Telegram Trigger').first().json.message.text || '').trim();\n\nconst usuario = bancoDados.usuario?.[userId];\n\n// Verifica se realmente está aguardando seleção\nif (!usuario || !usuario.aguardandoSelecao) {\n  return [{ json: { userId, sucesso: false, msg: '❌ Nenhuma seleção aguardada.' } }];\n}\n\nconst numeroDigitado = parseInt(texto, 10); // 0 a 9 → índice 0..9 (pedido #1..#10)\n// O usuário vê \"Pedido #1\" = índice 0, \"Pedido #2\" = índice 1, etc.\n// Mas digitamos o número mostrado (1-based), então subtraímos 1\nconst indiceAbsoluto = usuario.indicesPedidosAtivos?.[numeroDigitado - 1];\n\nif (indiceAbsoluto === undefined || indiceAbsoluto === null) {\n  bancoDados.usuario[userId].aguardandoSelecao = false;\n  delete bancoDados.usuario[userId].indicesPedidosAtivos;\n  return [{ json: {\n    userId,\n    sucesso: false,\n    msg: `❌ Número inválido. Nenhum pedido #${numeroDigitado} encontrado.\\n\\nUse o botão <b>🚚 Acompanhar Entrega</b> para tentar novamente.`\n  }}];\n}\n\nconst pedido = bancoDados.usuario[userId].pedidos[indiceAbsoluto];\n\n// Validação: não pode marcar como entregue se status for cancelado ou pendente\nconst statusAtual = (pedido?._status || '').toLowerCase();\nif (statusAtual === 'cancelado' || statusAtual === 'pendente') {\n  bancoDados.usuario[userId].aguardandoSelecao = false;\n  delete bancoDados.usuario[userId].indicesPedidosAtivos;\n  return [{ json: {\n    userId,\n    sucesso: false,\n    msg: `⚠️ Este pedido não pode ser marcado como entregue.\\n\\nStatus atual: <b>${pedido._status || 'Pendente'}</b>\\n\\nApenas pedidos em preparo ou a caminho podem ser marcados como entregues.`\n  }}];\n}\n\n// Atualiza o status\nbancoDados.usuario[userId].pedidos[indiceAbsoluto]._status = 'entregue';\nbancoDados.usuario[userId].pedidos[indiceAbsoluto]._dataEntrega = new Date().toISOString();\n\n// Limpa o estado de aguardo\nbancoDados.usuario[userId].aguardandoSelecao = false;\ndelete bancoDados.usuario[userId].indicesPedidosAtivos;\n\nconst pratos = pedido['Pratos (selecione ao menos 1)']\n  ? (Array.isArray(pedido['Pratos (selecione ao menos 1)'])\n      ? pedido['Pratos (selecione ao menos 1)']\n      : pedido['Pratos (selecione ao menos 1)'].split(',').map(s => s.trim())).filter(Boolean)\n  : [];\nconst resumo = pratos.length ? pratos.join(', ') : 'Pedido';\n\nreturn [{ json: {\n  userId,\n  sucesso: true,\n  msg: `✅ <b>Pedido #${numeroDigitado} marcado como entregue!</b>\\n\\n📦 Itens: ${resumo}\\n🕐 Confirmado em: ${new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' })}\\n\\nObrigado pela confirmação! 😊`\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        2000
      ],
      "id": "3b050e7c-6614-4e63-818a-9cf32c42d64f",
      "name": "Processar Selecao Texto"
    },
    {
      "parameters": {
        "chatId": "={{ $json.userId }}",
        "text": "={{ $json.msg }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📋 Ver Pedidos",
                    "additionalFields": {
                      "callback_data": "acompanhar"
                    }
                  },
                  {
                    "text": "🏠 Início",
                    "additionalFields": {
                      "callback_data": "voltarInicio"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -320,
        1984
      ],
      "id": "76fadc2e-e5cd-41b3-b949-ced24a2c948f",
      "name": "Resposta Selecao Telegram",
      "webhookId": "sel-tg-wh-01",
      "credentials": {
        "telegramApi": {
          "id": "XvOSLZ20R4qjCpEW",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {
    "Webhook Criar Reserva": [
      {
        "json": {
          "headers": {
            "host": "bulge-stylus-cover.ngrok-free.dev",
            "user-agent": "Mozilla/5.0 (iPhone; CPU iPhone OS 18_7 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/26.4.2 Mobile/23E261 Safari/604.1",
            "content-length": "81",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-GB,en-US;q=0.9,en;q=0.8",
            "content-type": "application/json",
            "ngrok-skip-browser-warning": "1",
            "origin": "https://reservachatbotfmi.netlify.app",
            "priority": "u=3, i",
            "referer": "https://reservachatbotfmi.netlify.app/",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "2804:7f0:3e6:ebe:e593:570e:9b5d:17bf",
            "x-forwarded-host": "bulge-stylus-cover.ngrok-free.dev",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "mesaId": 3,
            "data": "2026-05-27",
            "hora": "19:00",
            "pessoas": 3,
            "userId": "6441446435"
          },
          "webhookUrl": "https://bulge-stylus-cover.ngrok-free.dev/webhook/reserva-criar",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 737499413,
          "callback_query": {
            "id": "9219057704741165741",
            "from": {
              "id": 6441446435,
              "is_bot": false,
              "first_name": "Erick",
              "username": "flipsidx",
              "language_code": "en"
            },
            "message": {
              "message_id": 924,
              "from": {
                "id": 8679938918,
                "is_bot": true,
                "first_name": "Restaurante Maṭʿam",
                "username": "restaurantejorjao_bot"
              },
              "chat": {
                "id": 6441446435,
                "first_name": "Erick",
                "username": "flipsidx",
                "type": "private"
              },
              "date": 1779846027,
              "text": "Realmente deseja realizar um chamado ?",
              "entities": [
                {
                  "offset": 0,
                  "length": 38,
                  "type": "bold"
                }
              ],
              "reply_markup": {
                "inline_keyboard": [
                  [
                    {
                      "text": "Sim",
                      "callback_data": "chamado"
                    },
                    {
                      "text": "Não",
                      "callback_data": "voltarInicio"
                    }
                  ]
                ]
              }
            },
            "chat_instance": "4992379471886144340",
            "data": "chamado"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "IF Atendente Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ColetarHoras": {
      "main": [
        [
          {
            "node": "Menu Principal Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulario Pedido": {
      "main": [
        [
          {
            "node": "Armazenar Globalmente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armazenar Globalmente": {
      "main": [
        [
          {
            "node": "Algo Mais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eh Mensagem": {
      "main": [
        [
          {
            "node": "IF Eh Selecao Pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Inicial": {
      "main": [
        [
          {
            "node": "Menu Categorias Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Formulario Pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verificar Pedidos Ativos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opcoes Sobre Unidade",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirmar Desejo Reservar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirmar Desejo Chamado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu Principal Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Montar Botoes Selecionar Pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Marcar Pedido Entregue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Cardapio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contador Global": {
      "main": [
        [
          {
            "node": "ColetarHoras",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Cardapio": {
      "main": [
        [
          {
            "node": "Opcoes Entrada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opcoes Salgados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Opcoes Pratos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retornar Banco",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Menu Categorias Mensagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir Endereço": {
      "main": [
        [
          {
            "node": "Salvar Endereço",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Endereço": {
      "main": [
        [
          {
            "node": "Deseja Pagar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Pagamento": {
      "main": [
        [
          {
            "node": "Pedir Endereço",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Pag Retirada Re",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Salvar Pag Retirada On",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": " Switch Unidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Pag Retirada On": {
      "main": [
        [
          {
            "node": "Calcular Total PIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Total PIX": {
      "main": [
        [
          {
            "node": "Criar Pagamento PIX MP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Pagamento PIX MP": {
      "main": [
        [
          {
            "node": "Salvar Payment ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Payment ID": {
      "main": [
        [
          {
            "node": "Preparar Mensagem Pix",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Confirmação MP": {
      "main": [
        [
          {
            "node": "Verificar Pagamento Aprovado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Pagamento Aprovado": {
      "main": [
        [
          {
            "node": "Consultar Status Pagamento MP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Status Pagamento MP": {
      "main": [
        [
          {
            "node": "Se Status Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se Status Approved": {
      "main": [
        [
          {
            "node": "Confirmar Pagamento Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagem Pix": {
      "main": [
        [
          {
            "node": "Enviar Link PIX Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Pag Retirada Re": {
      "main": [
        [
          {
            "node": "Calcular Total",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Amostra Pedido": {
      "main": [
        [
          {
            "node": "Proxima Acao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Total": {
      "main": [
        [
          {
            "node": "Amostra Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Opcoes Promocoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retornar Banco": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opcoes Promocoes": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Send a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a document": {
      "main": [
        [
          {
            "node": "Confirmacao Realizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Switch Unidade": {
      "main": [
        [
          {
            "node": "Sobre Localizacao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sobre Horário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sobre Estrutura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Reservar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Reservar": {
      "main": [
        [
          {
            "node": "Inicializar Mesas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalizar Sessão",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch Suporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inicializar Mesas": {
      "main": [
        [
          {
            "node": "Enviar Link Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Listar Mesas": {
      "main": [
        [
          {
            "node": "Processar Disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Disponibilidade": {
      "main": [
        [
          {
            "node": "Responder Mesas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Criar Reserva": {
      "main": [
        [
          {
            "node": "Registrar Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Reserva": {
      "main": [
        [
          {
            "node": "Responder Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responder Reserva": {
      "main": [
        [
          {
            "node": "Formulario Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulario Dados": {
      "main": [
        [
          {
            "node": "Registrar Reservante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Reservante": {
      "main": [
        [
          {
            "node": "Notificar Reserva Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Suporte": {
      "main": [
        [
          {
            "node": "Formulario Suporte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formulario Suporte": {
      "main": [
        [
          {
            "node": "Gerar ID Chamado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Atendente Admin": {
      "main": [
        [
          {
            "node": "Router Comando Admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Eh Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Comando Admin": {
      "main": [
        [
          {
            "node": "Switch Comando Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Comando Admin": {
      "main": [
        [
          {
            "node": "Admin Criar Pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Consultar Pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Atualizar Pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Cancelar Pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Consultar Mesa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Mesas Disponiveis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Reservar Mesa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Cancelar Mesa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Preencher Endereco",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Consultar Endereco",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Admin Fallback Comando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Criar Pedido": {
      "main": [
        [
          {
            "node": "Admin Resp Criar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Consultar Pedido": {
      "main": [
        [
          {
            "node": "Admin Resp Consultar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Atualizar Pedido": {
      "main": [
        [
          {
            "node": "Admin Resp Atualizar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Cancelar Pedido": {
      "main": [
        [
          {
            "node": "Admin Resp Cancelar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Consultar Mesa": {
      "main": [
        [
          {
            "node": "Admin Resp Consultar Mesa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Mesas Disponiveis": {
      "main": [
        [
          {
            "node": "Admin Resp Mesas Disponiveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Reservar Mesa": {
      "main": [
        [
          {
            "node": "Admin Resp Reservar Mesa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Cancelar Mesa": {
      "main": [
        [
          {
            "node": "Admin Resp Cancelar Mesa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar ID Chamado": {
      "main": [
        [
          {
            "node": "Salvar Chamado Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar Chamado Sheets": {
      "main": [
        [
          {
            "node": "Selecionar Atendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selecionar Atendente": {
      "main": [
        [
          {
            "node": "Notificar Atendente Chamado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Atendente Chamado": {
      "main": [
        [
          {
            "node": "Confirmar Chamado Usuario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Preencher Endereco": {
      "main": [
        [
          {
            "node": "Admin Resp Preencher Endereco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Admin Consultar Endereco": {
      "main": [
        [
          {
            "node": "Admin Resp Consultar Endereco",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Pedidos Ativos": {
      "main": [
        [
          {
            "node": "IF Tem Pedidos Ativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Tem Pedidos Ativos": {
      "main": [
        [
          {
            "node": "Montar Mensagem Pedidos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem Pedidos Ativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Mensagem Pedidos": {
      "main": [
        [
          {
            "node": "Exibir Pedidos Ativos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar Botoes Selecionar Pedido": {
      "main": [
        [
          {
            "node": "Enviar Selecao Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar Pedido Entregue": {
      "main": [
        [
          {
            "node": "Confirmar Entrega Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Eh Selecao Pedido": {
      "main": [
        [
          {
            "node": "Processar Selecao Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contador Global",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Selecao Texto": {
      "main": [
        [
          {
            "node": "Resposta Selecao Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "90c0511f-9427-488a-a5f9-84af680aae7c",
  "meta": {
    "instanceId": "8820a1bab815e9b7dedca81d44851aff32376584db9b661da77de9b0b2fc6092"
  },
  "id": "fMrZDonbQl5sGudG",
  "tags": []
}